.logo {
	$this: &;

	display: flex;
	align-items: center;
	min-width: rem(100);
	max-width: rem(150);
	max-height: rem(58);
	text-decoration: none;

	@include media($screen-def) {
		max-width: rem(150);
	}

	.section--footer-top & {
		@include media($screen-def) {
			img {
				width: 100%;
			}
		}
	}

	&__image {
		max-width: 100%;
		max-height: 100%;
	}

	&__text {
		font-size: rem(30);
		font-weight: 900;
		word-break: break-word;
	}

	&--mobile {
		min-width: 0;
		display: flex;
		align-items: center;
		max-width: 85px;
		width: 85px;
		height: 36px;
		overflow: hidden;
		box-sizing: border-box !important; //sass-lint:disable-line no-important

		#{$this}__text {
			word-break: normal;
		}
	}

	&--footer {
		max-width: 151px !important; //sass-lint:disable-line no-important
		min-width: 0;
	}

	svg {
		width: 100%;
		height: 100%;
	}
}
