.mobile-filter {
	@include media($screen-def, max) {
		position: fixed;
		left: 0;
		top: 54px;
		bottom: 0;
		z-index: -1;
		opacity: 0;
		right: 0;

		.is-filter-show & {
			opacity: 1;
			z-index: 99;
		}

		&__overlay {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: rgba(#000, 0.3);
			z-index: 1;
		}

		&__body {
			position: absolute;
			left: 0;
			top: 0;
			bottom: 0;
			max-width: 80%;
			min-width: 240px;
			padding: rem(10);
			box-sizing: border-box;
			overflow: auto;
			transform: translateX(-100%);
			background: #fff;
			transition: 0.3s 0.1s ease;
			z-index: 2;
		}

		.is-filter-show	&__body {
			transform: none;
		}
	}

	.irs-bar {
		background: $color-dark-mint;
	}
}

.is-filter-show {
	overflow: hidden;
}

.show-filter {
	position: sticky;
	top: 0;
	right: 0;
	z-index: 20;
	color: #ffffff;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 40px;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	border: 2px solid transparent;
	outline: none;
	bottom: 1px;
	box-sizing: border-box;
	user-select: none;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: $color-dark-mint;
	font-weight: 600;
	font-size: rem(18);
	opacity: 0.5;
	pointer-events: none;

	&.show {
		opacity: 1;
		pointer-events: all;
	}

	@media(max-width: 1024px) {
		display: none;

		&--mobile {
			display: flex;
			transform: none;
			position: sticky;
			width: 232px;
			bottom: 0;
			top: 46px;
			left: 4px;
		}
	}

	@media(min-width: 1025px) {
		&--mobile {
			display: none;
		}
	}

	&:hover {
		background-color: $color-smoke-mint;
	}
}
