.feature {
	$this: &;

	min-height: 100%;
	padding: $gutter-def $gutter-md;
	background-color: $color-white;
	transition: color $time-now ease, background-color $time-now ease;
	box-sizing: border-box;
	text-align: center;
	border: 1px solid $color-stroke;
	border-radius: 10px;

	@include media ($screen-xxs) {
		text-align: left;
	}

	@include media($screen-md) {
		padding: $gutter-lg;
	}

	&--shadow {
		box-shadow: $shadow-box-down;
	}

	&:hover {
		color: $color-dark-blue;
		background-color: $color-stroke;
		transition-duration: $time-fast, $time-fast;

		#{$this}__name {
			color: $color-dark-blue;
			transition-duration: $time-fast;
		}
	}

	&__icon {
		width: rem(80);
		height: rem(80);
		position: relative;
		margin: auto;
		margin-bottom: rem(20);

		#{$this}--shadow & {
			background-color: transparent;
		}

		@include media ($screen-xxs) {
			width: rem(80);
			height: rem(80);
		}

		svg {
			@include absolute-cube(100%);
			fill: $color-main;

			#{$this}--shadow & {
				@include absolute-cube(70%);
			}

			#{$this}--shadow:hover & {
				fill: $color-white;
			}
		}
	}

	&__name {
		text-align: center;
		color: $color-blue-smoke;
		margin-bottom: auto;
		transition: color $time-now ease;
		font-size: rem(14);

		@include media ($screen-md) {
			font-size: rem(16);
		}
	}

	&__desc {
		font-size: rem(14);
		font-weight: $font-weight-lighter;
	}
}
