.catalog__group-wrapper {
	padding: 2px 0;

	> div {
		padding: 2px;
	}
}

.catalog-group {
	background-color: #fff;
	//margin: 1px;
	//height: calc(100% - 2px);
	height: 100%;
	overflow: hidden;
	//padding-bottom: .5rem;
	box-sizing: border-box;

	//@include media($screen-xs) {
	//	margin: 2px;
	//	min-height: calc(100% - 4px);
	//}

	&__categories-popup {
		box-sizing: border-box;
		padding: 15px;
		position: fixed;
		z-index: 102;
		pointer-events: none;
		top: 0;
		left: calc(50% - 50vw);
		width: 100vw;
		height: 100vh;
		background-color: $color-white;
		transform-origin: center;
		transform: scale(0);
		transition: transform .4s;

		&.is-active {
			pointer-events: auto;
			transform: scale(1);
		}

		&-wrap {
			overflow-y: auto;
		}
	}

	&__category {
		&-item {
			display: block;
			color: $color-dark-blue;
			padding: rem(8) rem(15);
			border-top: 1px solid $color-stroke;

			&:last-of-type {
				border-bottom: 1px solid $color-stroke;
			}
		}

		&-link {
			text-decoration: none;
			color: inherit;
		}
	}

	&__image {
		max-width: 260px;
		padding: 0 rem(12);
		margin: rem(12) auto;

		a {
			position: relative;
			display: inline-block;
			vertical-align: top;

			&:hover {
				&::after {
					@include absolute-cube(100%);
					content: '';
					background: $custom-color-image-hover;
				}
			}
		}

		img {
			display: inline-block;
			vertical-align: top;
		}
	}

	//&__inner {
	//	height: 41px;
	//	overflow: hidden;
	//}

	&__title,
	&__inner {
		margin: $gutter-sm;

		@include media($screen-xs) {
			margin: $gutter-def;
		}

		@include media($screen-md) {
			margin: $gutter-def $gutter-lg $gutter-lg;
		}

		@include media($screen-xl) {
			margin: $gutter-def $gutter-xl $gutter-lg;
		}
	}

	&__item {
		margin-bottom: rem(8);
		word-break: break-all;
		font-size: 13px;
		line-height: 1.2;

		@include media($screen-xs) {
			margin-bottom: rem(10);
		}

		@include media($screen-md) {
			margin-bottom: rem(14);
		}
	}

	&__link {
		color: $color-black;
		text-decoration: none;
		word-break: break-word;

		&--all {
			color: $color-info-muted;
			text-decoration: underline;
		}

		&:hover {
			color: $color-dark-mint;
			text-decoration: underline;
		}
	}
}
