.side-links {
	position: sticky;
	top: rem(138px);
	z-index: 1;
}

.side-link {
	display: inline-block;
	vertical-align: top;
	position: relative;
	color: $color-dark-blue;
	text-decoration: none;
	font-size: rem(14);
	line-height: 1;
	font-weight: 600;
	padding-bottom: 4px;
	border-bottom: 1px solid $color-blue-smoke;
	margin-bottom: 20px;

	&__icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: rem(11);
		height: rem(10);

		svg {
			@include absolute-cube(100%);
			fill: $color-dark-blue;
			transition: transform $time-now linear;
			will-change: transform;
			stroke-width: 2px;
			stroke: $color-dark-blue;
		}
	}

	&[href] {
		&:hover {
			border-color: transparent;
		}
	}

	&.is-active {
		color: $color-yellow;
		cursor: default;

		@include media($screen-def) {
			&::before {
				content: '';
				position: absolute;
				top: calc(50% - 7px);
				right: 100%;
				margin-right: 5px;
				z-index: 1;
				display: block;
				width: 8px;
				height: 8px;
				background-color: $color-yellow;
				border-radius: 50%;
			}
		}
	}
}
