.compare-group-card {
	display: flex;
	background: $color-white;
	padding: rem(20) rem(10) rem(20) 0;
	height: 100%;
	box-sizing: border-box;
	border: 1px solid $color-stroke;
	border-left: none;

	&__body {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		flex-grow: 1;
	}

	&__preview {
		display: flex;
		width: rem(60);
		height: rem(60);
		flex-shrink: 0;
		margin: 0 10px;

		@include media($screen-ms) {
			width: rem(120);
			height: rem(120);
		}

		img {
			max-height: 100%;
			margin: auto;
		}
	}

	&__title {
		word-break: break-word;
		margin-bottom: rem(22);
		font-size: rem(16);
	}

	&__remove {
		flex-shrink: 0;
		width: 22px;
		padding-left: rem(10);
		margin-top: -3px;

		.button--remove {
			.button__icon {
				width: 16px;
				height: 16px;
				fill: $color-blue-smoke;
				opacity: 0.5;
			}

			&:hover {
				.button__icon {
					opacity: 1;
				}
			}
		}
	}

	&__price-old {
		color: $custom-color-additional;
		font-size: rem(14);
		line-height: 1;
		margin-bottom: 2px;
		text-decoration: line-through;
	}

	&__price-current {
		color: $color-black;
		font-size: rem(24);
		font-weight: $font-weight-bolder;
		line-height: 1;
	}
}

.compare-group-card-wrap {
	background-color: $color-white;
	padding: 0 rem(21) rem(27);
	position: relative;

	&::after {
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		right: rem(21);
		width: 1px;
		height: 100%;
		background-color: $color-white;
	}

	>.gcell:nth-child(n + 2) {
		.compare-group-card {
			border-top: none;

			@include media($screen-xs) {
				border-top: 1px solid $color-stroke;
			}
		}
	}
}
