.compare-card {
	position: relative;

	&::before {
		content: '';
		position: absolute;
		width: 1px;
		height: 100%;
		right: 0;
		top: 0;
		background-color: $color-gray-3;
	}

	&__head {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		padding: rem(8);
		background: $color-white;
		box-sizing: border-box;

		@include media($screen-ms) {
			padding: rem(15);
			align-items: unset;
		}
	}

	&__options-delete {
		position: absolute;
		top: 5px;
		right: 5px;
		width: 15px;
		height: 15px;
		fill: $color-blue-smoke;
		cursor: pointer;
		opacity: 0.5;

		@include media($screen-xs) {
			position: static;
			top: unset;
			right: unset;
		}

		svg {
			width: 15px;
			height: 15px;
		}

		&:hover {
			opacity: 1;
		}
	}

	&__preview {
		display: block;
		margin-bottom: rem(12);

		@include media($screen-xs) {
			display: flex;
			flex-direction: row;
			align-items: unset;
		}
	}

	&__image {
		position: relative;
		padding-top: 100%;
		width: 100%;
		display: block;

		@include media($screen-xs) {
			padding-top: 0;
			min-width: rem(40);
			width: rem(40);
			height: rem(40);
			margin-right: rem(10);
		}

		@include media($screen-ms) {
			min-width: rem(60);
			width: rem(60);
			height: rem(60);
		}

		img {
			position: absolute;
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
			top: 0;
			left: 0;

			@include media($screen-xs) {
				position: static;
				height: auto;
			}
		}
	}

	&__title {
		flex-grow: 1;
		font-size: rem(14);
		line-height: 1.1;
		overflow: hidden;
		position: relative;
		color: $color-blue-smoke;
		text-decoration: none;
		overflow-wrap: anywhere;
		margin: auto;
		outline: none;

		@include media($screen-xs) {
			font-size: rem(16);
		}

		&:hover {
			color: $color-dark-blue;
		}
	}

	&__price {
		color: $color-black;
		font-size: rem(15);
		font-weight: $font-weight-bolder;
		line-height: 1;

		@include media($screen-ms) {
			font-size: rem(24);
		}
	}

	&__body {
		padding: rem(10) rem(15);
		color: $color-dark-blue;
		font-size: rem(14);

		@include media($screen-ms) {
			font-size: rem(16);
		}
	}
}
