.compare-table {
	$this: &;
	min-height: 200px;
	background-color: $color-white;
	transition: filter .5s;
	filter: blur(0);
	overflow-wrap: break-word;

	&.is-loading {
		filter: blur(8px);
	}

	.link--underline::after {
		bottom: 0;
	}

	&__add {
		width: 100%;
		background-color: $color-stroke;
		color: $color-dark-blue;
		padding: rem(12) rem(9);
		font-size: rem(14);
		display: flex;
		align-items: center;
		box-sizing: border-box;
		text-align: center;
		justify-content: center;
		border-radius: 10px;
		text-decoration: none;
		font-weight: 600;
		margin-bottom: rem(12);

		@include media($screen-sm) {
			font-size: rem(18);
			margin-bottom: rem(19);
			padding: rem(18) rem(20);
		}

		span {
			border-bottom: 1px solid;
			line-height: 1.4;
		}

		&:hover {
			background-color: rgba($color-stroke, 0.75);

			span {
				border-bottom: none;
			}
		}
	}

	&__clear {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		background-color: $color-stroke;
		font-size: rem(14);
		border-radius: 10px;
		text-decoration: none;
		color: $color-dark-blue;
		padding: 7px 5px;
		box-sizing: border-box;

		svg {
			width: 10px;
			height: 10px;
			fill: $color-dark-blue;
			margin-left: 7px;
		}

		&:hover {
			background-color: rgba($color-stroke, 0.75);
		}
	}

	&__row {
		display: flex;

		&--head {
			border-bottom: 1px solid $color-gray-3;
			border-top: 1px solid $color-gray-3;
			margin: 0 rem(15);
			padding: 9px 0;
			align-items: flex-start;
		}

		&--add {
			position: relative;

			&::after {
				content: '';
				position: absolute;
				width: 1px;
				height: 100%;
				right: 0;
				top: 0;
				background-color: $color-gray-3;
			}
		}

		&--char {
			@include media($screen-def, max) {
				&:nth-child(even) {
					#{$this}__cell {
						background: $color-white;
					}
				}
			}
		}
	}

	&__cell {
		position: relative;
		width: 100%;
		flex-shrink: 0;

		&--mobile {
			width: 100%;
			padding: 0 rem(15);
		}

		&--info {
			padding: rem(10) rem(15);
			box-sizing: border-box;
		}

		&--first {
			position: relative;
			padding: rem(10) rem(15);
			box-sizing: border-box;
			color: $color-dark-blue;
			font-weight: bold;
			font-size: rem(14);

			&::after {
				content: '';
				position: absolute;
				width: 1px;
				height: 100%;
				right: 0;
				top: 0;
				background-color: $color-gray-3;
			}

			@include media($screen-ms) {
				font-size: rem(16);
			}
		}

		&--last-row {
			border-bottom: 1px solid $color-gray-3;
		}

		&--char {
			border-top: 1px solid $color-gray-3;
		}
	}

	&__head {
		background-color: $color-white;
		position: sticky;
		top: 54px;
		z-index: 2;
		@include media($screen-def) {
			top: 60px;
		}
	}
}

