.item-card-title {
	display: block;

	&__dfn {
		color: $custom-color-additional;
		font-size: rem(14);
		font-weight: $font-weight-lighter;
	}

	> span {
		svg {
			fill: $color-dark-mint;
		}
	}

	&__text {
		display: block;
		text-decoration: none;
		line-height: 1.35em;
		max-height: 3.6em;
		min-height: 3.6em;
		overflow: hidden;
		position: relative;
		font-size: 14px;
		text-overflow: ellipsis;
		outline: none;

		@include media($screen-sm) {
			font-size: rem(16);
			font-weight: 600;
		}

		&::after {
			content: '';
			position: absolute;
			top: 1.6em;
			left: 0;
			right: 0;
			height: 2em;
			background: linear-gradient(to bottom, rgba($color-white, 0) 0%, rgba($color-white, 1) 100%);
		}

		&[href] {
			&:hover {
				color: $color-yellow;
			}

			&:active {
				color: $color-smoke-yellow;
			}
		}
	}
}
