.item-card {
	$this: &;

	padding: rem(15);
	width: auto !important; // sass-lint:disable-line no-important
	display: flex !important; // sass-lint:disable-line no-important
	flex-direction: column;
	background-color: $color-white;
	position: relative;
	box-sizing: border-box;
	transition: box-shadow $time-fast ease-out;
	min-height: calc(100% - 2px);
	margin: 0 -1px -1px;
	border: 1px solid $color-stroke;
	border-radius: 12px;

	@include media($screen-xs) {
		margin-right: rem(5);
		margin-left: rem(5);
		margin-bottom: rem(5);
	}

	@include media($screen-md) {
		margin-right: rem(7);
		margin-left: rem(7);
		padding: rem(20);
	}

	&:hover {
		box-shadow: 0 0 0 2px $color-dark-mint inset;

		.button--buy {
			background-color: $color-dark-mint;
			fill: $color-white;
		}

		// #{$this}__badges {
		// 	top: -2px;
		// 	left: -2px;
		// }
	}


	// .item-list &,
	// .item-slider__list:not(.slick-dotted) & {
	// 	.browserizr-is-desktop &:hover {
	// 		margin: rem(-5) rem(-4) 2px;
	// 		padding: rem(20) rem(20) rem(15);
	// 		box-shadow: $shadow-box-round;
	// 		z-index: 10;
	// 		min-height: calc(100% + #{rem(5)} - 2px);

	// 		@include media($screen-md) {
	// 			padding: rem(25) rem(25) rem(20);
	// 		}

	// 		.item-card__desc {
	// 			display: block;
	// 			padding-left: rem(20);
	// 			padding-right: rem(20);

	// 			@include media($screen-md) {
	// 				padding-left: rem(25);
	// 				padding-right: rem(25);
	// 			}

	// 			&::before {
	// 				left: rem(20);
	// 				right: rem(20);

	// 				@include media($screen-md) {
	// 					left: rem(25);
	// 					right: rem(25);
	// 				}
	// 			}
	// 		}
	// 	}
	// }

	&__head {
		position: relative;
		flex-shrink: 0;
		padding-top: 100%;
		margin-bottom: rem(14);
	}

	&__badges {
		position: absolute;
		top: -1px;
		left: -1px;
		pointer-events: none;
	}

	&__foot {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-shrink: 0;

		.button--buy {
			width: 66px;
			padding: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: transparent;
			fill: $color-dark-mint;

			.button__icon--after ~ .button__text {
				display: none;

				@include media($screen-sm) {
					display: none;
				}

				@include media($screen-def) {
					display: none;
				}
			}

			&.in-cart {
				background-color: $color-dark-mint;
				fill: $color-white;
			}
		}
	}

	&__desc {
		.browserizr-is-desktop & {
			box-sizing: border-box;
			padding: rem(20px);
			display: none;
			position: absolute;
			top: 100%;
			margin-top: rem(-2);
			left: 0;
			width: 100%;
			background-color: #fff;
			font-size: rem(13);
			line-height: em(18, 13);
			color: $color-black;

			@include media($screen-md) {
				margin-top: rem(-12);
			}

			box-shadow: $shadow-box-down;

			&::before {
				content: '';
				position: absolute;
				top: 0;
				left: rem(20);
				right: rem(20);
				border-top: 1px solid;
				opacity: .3;
			}
		}

		.browserizr-is-mobile & {
			display: none;
		}
	}
}
