.pagination {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;

	&.is-disabled {
		margin-top: 16px;
	}

	&__item {
		display: block;
		line-height: rem(20);
		padding: rem(10);
		min-width: rem(20);
		background-color: $color-white;
		text-decoration: none;
		color: $color-black;
		text-align: center;
		margin: rem(3);
		cursor: pointer;

		&:hover {
			background-color: $color-gray-3;
		}

		&--current {
			background-color: $color-dark-mint;
			color: $color-white;
			pointer-events: none;
		}
	}
}
