.sales-card {
	max-width: 350px;
	margin: 0 auto;
	display: block;
	position: relative;

	&__image {
		display: block;
		margin-bottom: rem(10);
		position: relative;
		padding-top: 74%;
		border-radius: 10px;

		@include media($screen-md) {
			margin-bottom: rem(20);
		}

		&::before {
			@include absolute-cube(100%);
			content: '';
			border: 1px solid $custom-color-border-muted;
			box-sizing: border-box;
		}

		&::after {
			@include absolute-cube(100%);
			content: '';
			transition: background-color $time-fast ease;
			box-sizing: border-box;
		}

		img {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			left: 0;
			object-fit: cover;
		}

		&:hover::after {
			background-color: rgba($custom-color-additional, .25);
		}
	}

	&__datetime {
		color: $color-blue-smoke;
		font-size: rem(14);
		margin-bottom: rem(8);
		display: block;

		@include media($screen-md) {
			margin-bottom: rem(14);
		}
	}

	&__title {
		display: block;
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		height: 3.72em;
		font-weight: 600;
		font-size: rem(18);
		line-height: 1.3em;
		margin-bottom: rem(14);
		-webkit-line-clamp: 3;
		// sass-lint:disable no-css-comments
		/* autoprefixer: ignore next */
		-webkit-box-orient: vertical;
		// sass-lint:enable no-css-comments

		a {
			color: $color-dark-blue;
			text-decoration: none;

			&:hover {
				color: $color-yellow;
				text-decoration: underline;
			}

			&:active {
				color: $color-smoke-yellow;
			}
		}
	}

	&__desc {
		font-size: rem(16);
		line-height: 1.4;
		color: $color-blue-smoke;
	}
}
