.noty_buttons {
    display: block;
    text-align: right;
}

.noty_buttons button {
    margin-right: 5px;
}

.noty_buttons button:last-child {
    margin-right: 0;
}

.noty_theme__mint.noty_type__info, .noty_theme__mint.noty_type__information {
    background-color: #205081;
    border-bottom: 1px solid #205081;
}

.align-text-top {
    vertical-align: top;
}

.buttons-block {
    text-align: right;
    display: block;
    margin: 10px 0;
}

.buttons-block--sticky {
    position: sticky;
    top: 5px;
    z-index: 9;
}

.buttons-block--sticky .btn {
    box-shadow: 0 0 0 5px #ecf0f5;
}

.buttons-block button {
    margin-right: 5px;
}

.change-status i {
    width: 10px;
    height: 22px;
    font-size: 10px;
}

.user-body ul.menu {
    list-style: none;
    padding-left: 0;
    text-align: center;
}

.user-body ul.menu li {
    box-sizing: border-box;
}

.user-body ul.menu li a {
    color: #444444;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 10px;
    display: block;
    white-space: nowrap;
    border-bottom: 1px solid #f4f4f4;
}

.user-body ul.menu li:last-child a {
    border-bottom: none;
}

.user-body ul.menu li a:hover {
    background: #f4f4f4;
    text-decoration: none;
}

.nopadding {
    padding: 0 !important;
}

ul.list-group li.active a {
    color: #fff !important;
}

ul.list-group li.active a:hover {
    opacity: 0.5;
}

.form-control.disabled {
    cursor: not-allowed;
    opacity: .45;
}

.sliderSortList {

}

.sliderSortList .dd3-content {
    height: 60px;
}

.sliderSortList .dd3-content .pagename-column img {
    max-width: 54px;
    max-height: 54px;
}

.sliderSortList .dd3-handle {
    width: 60px;
    height: 60px;
}

.sliderSortList .dd3-handle::before {
    top: 18px;
}

.overflow-20 {
    overflow: hidden;
    height: 20px;
}

.simple-image-block {
    margin-bottom: 10px;
    position: relative;
}

.simple-image-block > img {
    width: 100px;
}

.simple-image-block .simple-image-actions {
    position: absolute;
    bottom: 10px;
    left: 0;
    text-align: center;
    width: 100px;
    opacity: 0.5;
}

.simple-image-block:hover .simple-image-actions {
    opacity: 1;
}

.free-space {
    width: 20px;
    display: inline-block;
}

.disabled-opacity {
    opacity: 0.35;
}

.hidden-form-group {
    margin-bottom: 5px;
}

/*!
 * jQuery UI Autocomplete 1.11.4
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 *
 * http://api.jqueryui.com/autocomplete/#theming
 */
.ui-autocomplete {
    position: absolute;
    top: 0;
    left: 0;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ccc;
}

.time-to-time-loader {
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0;
    height: 34px;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: none;
    cursor: not-allowed;
}

#errors-list ul {
    max-height: 400px;
    overflow-y: auto;
    list-style: none;
    padding: 0;
}

#errors-list-basic {
    margin-bottom: 10px;
    font-weight: bold;
}

#errors-list-basic span {
    color: red;
}

.resizable-text-block {
    max-height: 150px;
    overflow-y: auto;
}

dl.specifications-list > dd {
    margin-bottom: 15px;
}

dl.specifications-list > dd:last-child {
    margin-bottom: 0;
}

.my-carousel img {
    max-height: 400px;
    margin: auto;
}

/********************************************************************/
/********************************************************************/
/********************************************************************/
.panel {
    position: relative;
    overflow: hidden;
    display: block;
    border-radius: 0 !important;
}

.panel-default {
    border-color: #ebedef !important;
}

.panel .panel-body {
    position: relative;
    padding: 0 !important;
    overflow: hidden;
    height: auto;
}

.panel .panel-body a {
    overflow: hidden;
}

.panel .panel-body a img {
    display: block;
    margin: 0;
    width: 100%;
    height: auto;
    transition: all 0.5s;
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
}

.panel .panel-body a.zoom:hover img {
    transform: scale(1.3);
    -ms-transform: scale(1.3);
    -webkit-transform: scale(1.3);
    -o-transform: scale(1.3);
    -moz-transform: scale(1.3);
}

.panel .panel-body a.zoom span.overlay {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    height: 100%;
    width: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity .25s ease-out;
    -moz-transition: opacity .25s ease-out;
    -webkit-transition: opacity .25s ease-out;
    -o-transition: opacity .25s ease-out;
}

.panel .panel-body a.zoom:hover span.overlay {
    display: block;
    visibility: visible;
    opacity: 0.55;
    -moz-opacity: 0.55;
    -webkit-opacity: 0.55;
    filter: alpha(opacity=65);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=65)";
}

.panel .panel-body a.zoom:hover span.overlay i {
    position: absolute;
    top: 40%;
    left: 10%;
    width: 100%;
    font-size: 4em;
    color: #fff !important;
    text-align: center;
    opacity: 1;
    -moz-opacity: 1;
    -webkit-opacity: 1;
    filter: alpha(opacity=1);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
}

.panel .panel-footer {
    padding: 8px !important;
    background-color: #f9f9f9 !important;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.panel .panel-footer h4 {
    display: inline;
    font: 400 normal 1.125em "Roboto", Arial, Verdana, sans-serif;
    color: #34495e;
    margin: 0 !important;
    padding: 0 !important;
}

.panel .panel-footer i.glyphicon {
    display: inline;
    font-size: 1.125em;
    cursor: pointer;
}

.panel .panel-footer i.glyphicon-thumbs-up {
    color: #1abc9c;
}

.panel .panel-footer i.glyphicon-thumbs-down {
    color: #e74c3c;
    padding-left: 5px;
}

.panel .panel-footer div {
    width: 15px;
    display: inline;
    font: 300 normal 1.125em "Roboto", Arial, Verdana, sans-serif;
    color: #34495e;
    text-align: center;
    background-color: transparent !important;
    border: none !important;
}

.modal-title {
    font: 400 normal 1.625em "Roboto", Arial, Verdana, sans-serif;
}

.modal-footer {
    font: 400 normal 1.125em "Roboto", Arial, Verdana, sans-serif;
}

.my-mfp-popup .mfp-content {
    text-align: center;
    width: 50%;
    height: auto;
    background-color: #fff;
    padding: 20px;
}

.custom-uploader input[type="file"] {
    display: none;
}

.custom-uploader .custom-uploader-images-list {
    padding-left: 0;
}

.custom-uploader .custom-uploader-images-list li {
    height: 100px;
    width: 60px;
    overflow: hidden;
    text-align: center;
    display: inline-block;
    margin: 0 3px;
    background-size: cover;
    background-position: center;
    position: relative;
    color: #707070;
    background-color: #fafafa;
    border: 2px solid #fff;
    box-shadow: 1px 1px 1px #000;
}

.custom-uploader .custom-uploader-images-list li button {
    height: 100%;
    width: 100%;
    vertical-align: middle;
}

.custom-uploader .attachments-item__button {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    opacity: 0;
    transition: opacity .3s;
}

.custom-uploader .button-round {
    height: 32px;
    width: 32px;
    fill: #fff;
    background-color: indianred;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    cursor: pointer;
}

.colors-inversion .button-round {
    background-color: darkgreen !important;
}

.custom-uploader .button-round i {
    color: #fff;
    font-size: 45px;
}

.custom-uploader .custom-uploader-images-list li:hover .attachments-item__button {
    opacity: 0.7;
}

.custom-uploader .custom-uploader-images-list li:hover {
    opacity: 1 !important;
}

.custom-uploader .files-hint {
    font-style: italic;
    font-size: 12px;
    display: none;
}

button.processing {
    opacity: 0.3;
    transition: opacity .3s;
}

.custom-uploader .custom-uploader-images-list li:first-child button i {
    font-size: 45px;
    width: auto;
    vertical-align: middle;
}

.approve-image i.fa-close {
    display: none;
}

.approve-image i.fa-check {
    display: block;
}

.approve-image.of-course i.fa-close {
    display: block;
}

.approve-image.of-course i.fa-check {
    display: none;
}

.custom-uploader .custom-uploader-images-list li .approve-image.of-course {
    opacity: 0.5;
    background-color: darkgreen;
}

.colors-inversion .approve-image.of-course {
    background-color: indianred !important;
}

#send-data-to-man .files-hint {
    display: block;
}

.custom-uploader .custom-uploader-images-list li .attachments-item__info {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 18px;
    font-size: 16px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
}

.custom-uploader .custom-uploader-images-list li .attachments-item__info i {
    vertical-align: text-top;
}

ul#product-images {
    list-style: none;
    padding: 0;
}

.images-labels {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
}

.zoom:hover .images-labels {
    display: none;
}

.images-labels .image-label {
    display: none;
    padding: 4px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    margin: 3px;
    width: auto;
    font-size: 12px;
    font-weight: bold;
}

.images-labels .image-label.show {
    display: inline-block !important;
}

.images-labels .image-label.main-image {
    background-color: orangered;
    color: #fff;
}

.images-labels .image-label.unpublished-image {
    background-color: dimgrey;
    color: #fff;
}

.nav-tabs-custom .nav-tabs .has-errors a {
    color: red;
}

.nav-tabs-custom .nav-tabs a {
    -webkit-transition: color 0.5s;
    -moz-transition: color 0.5s;
    -ms-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
}

.nomt {
    margin-top: 0 !important;
}

.mce-label {
    max-width: none !important;
}

.half-block {
    display: inline-block;
    width: 48%;
    margin-left: 1%;
}

.usersSelect {
    width: 20%;
    display: inline-block;
}

.radio-group {
    display: inline-block;
}

.label-blue {
    background-color: #00A7D0 !important
}

.label-green {
    background-color: #008D4C !important
}

.label-shit {
    background-color: #C87F0A !important
}

.dependent-field-block {
    display: none;
}

.svg-radio input:checked + .svg-for-chose,
.svg-radio:hover .svg-for-chose {
    background-color: #7c7c7c !important;
    fill: #fff !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    color: #fff !important;
}

.svg-radio input {
    display: none;
}

.svg-radio .svg-for-chose {
    width: 81px;
    display: inline-block;
    padding: 3px;
    color: #333 !important;
    fill: #333 !important;
}

.svg-radio .svg-for-chose svg,
.svg-radio .svg-for-chose i {
    text-align: center;
    width: 75px;
    max-height: 60px;
    vertical-align: super;
}

.svg-radio .svg-for-chose i {
    font-size: 70px;
}

span.select2-container {
    width: 100% !important;
}


.main-tabs-block {
    background: none;
    box-shadow: none;
}

.main-tabs-block > .nav.nav-tabs {
    padding: 0 10px;
    border: 0 solid #fff;
    z-index: 2;
    position: relative;
}

.main-tabs-block > .nav.nav-tabs > li,
.main-tabs-block > .nav.nav-tabs > li > a {
    border-radius: 5px 5px 0 0;
}

.main-tabs-block > .nav.nav-tabs > li > a {
    padding: 5px 12px 8px;
}

.main-tabs-block > .nav-tabs > li.active {
    border-top-color: slategray !important;
}

.main-tabs-block .tab-content {
    background: none;
    padding: 0 10px 10px 10px;
    transform: translateY(-1px);
}

:not(.row) > div.col-md-12,
:not(.row) > div.col-md-6:nth-of-type(2n - 1),
:not(.row) > div.col-md-4:nth-of-type(3n - 2),
:not(.row) > div.col-md-3:nth-of-type(4n - 3),
:not(.row) > div.col-md-2:nth-of-type(6n - 5) {
    padding-left: 0 !important;
}

:not(.row) > div.col-md-12,
:not(.row) > div.col-md-6:nth-of-type(2n),
:not(.row) > div.col-md-4:nth-of-type(3n),
:not(.row) > div.col-md-3:nth-of-type(4n),
:not(.row) > div.col-md-2:nth-of-type(6n) {
    padding-right: 0 !important;
}

.display-block {
    display: block !important;
}

.alert {
    position: relative;
    z-index: 9;
}

.hidden-block {
    display: none;
}

.hidden-block.show-hidden-block {
    display: block !important;
}

.nav-tabs-custom {
    margin-bottom: 0 !important;
}

.main-tabs-block .tab-content {
    padding: 0 10px !important;
}

.help-block {
    margin: 0 !important;
}

.file-attach {
    margin: 10px;
    display: inline-block;
    width: 88px;
    vertical-align: top;
    position: relative;
}
.file-attach .delete-modification-image,
.file-attach .delete-remote-modification-image {
    position: absolute;
    right: -11px;
    top: -13px;
    font-size: 18px;
    color: #ffffff;
    width: 24px;
    background-color: indianred;
    text-align: center;
    border-radius: 12px;
    opacity: 0.6;
}
.file-attach .delete-modification-image:hover,
.file-attach .delete-remote-modification-image:hover {
    opacity: 1;
}
.file-attach input[type=file] {
    display: none;
}
.file-attach .label {
    border: 2px dashed grey;
    border-radius: 5px;
    display: block;
    padding: 2em;
    transition: border 300ms ease;
    cursor: pointer;
    text-align: center;

    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 93px;
}
.file-attach .label i {
    display: block;
    font-size: 42px;
    color: grey;
    transition: 200ms color;
    vertical-align: top;
}
.file-attach .label:hover {
    border: 2px solid #000;
}
.file-attach .label:hover i {
    color: #000;
}
.file-attach.recently-uploaded .label {
    border: 2px dashed green;
}
.file-attach.recently-uploaded .label:hover {
    border: 2px solid green;
}

.block-feature.has-error > .error-help-block {
    padding: 4px;
    position: absolute;
    background: #ffffff;
    border: solid 1px #b0a6a6;
    border-radius: 12px;
    width: 545px;
    margin-left: -320px !important;
}
.block-feature.form-group.has-success label {
    color: white;
}


ul.pluses-list {
    list-style: none;
    padding-left: 10px;
}

ul.pluses-list li:before {
    content: "+";
    margin-right: 4px;
}