.product-aside {
	$this: &;

	display: none;
	width: rem(582);
	flex-shrink: 0;

	&--show {
		max-width: 788px;
		//word-break: break-all;
		overflow-wrap: break-word;

		&.is-active {
			~ #{$this} {
				display: block;
			}
		}

		.title {
			padding-right: 10px;
		}
	}

	&__sticky {
		position: sticky;
		top: rem(120);
	}
}
