.brands-slider {
	position: relative;
	max-width: 1200px;
	margin: auto;
	overflow: hidden;

	@include media ($screen-xl) {
		max-width: 1240px;
	}

	@include media ($screen-def) {
		overflow: visible;
	}

	&__list {
		overflow: hidden;
		padding: 0;

		@include media($screen-sm) {
			padding: 0 0 40px;
		}

		@include media(1400px) {
			padding: 0;
		}
	}

	.slick-list {
		margin: 0 #{-$gutter-lg};
		padding: 0 $gutter-lg;

		&::after,
		&::before {
			position: absolute;
			top: 0;
			bottom: 0;
			width: $gutter-lg;
			content: '';
			z-index: 1;
		}

		&::after {
			right: 0;
		}

		&::before {
			left: 0;
		}
	}

	.slick-slide {
		margin: 0 5px;

		@include media($screen-sm) {
			margin: 0;
		}
	}

	.slick-prev,
	.slick-next {
		position: absolute;
		text-indent: -99999px;
		width: 25px;
		height: 30px;
		background-color: transparent;
		border: none;
		bottom: 3px;
		display: block;

		@include media($screen-def) {
			display: none;
		}

		&:focus {
			outline: none;

			&::after,
			&::before {
				background-color: $color-yellow;
			}
		}

		&::after,
		&::before {
			content: '';
			position: absolute;
			left: 0;
			width: 72%;
			height: 1px;
			background-color: $color-dark-blue;
		}

		&::after {
			transform: rotate(45deg);
			bottom: 10px;
		}

		&::before {
			transform: rotate(-45deg);
		}
	}

	.slick-slider-dots {
		&--counter {
			margin: auto;
			display: flex;
			justify-content: center;
			font-size: 16px;
			font-weight: 700;
		}
	}

	.slick-slider-current {
		margin-right: 5px;
	}

	.slick-slider-all {
		margin-left: 5px;
	}

	.slick-track {
		margin-left: auto;
	}

	.slick-slider-list > .slick-slider-list__item {
		text-align: center;

		> .brands-item {
			display: inline-block;
		}
	}

	&__arrows {
		@include absolute-cube(100%);
		visibility: hidden;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	@include media($screen-md) {
		.browserizr-is-desktop {
			padding: 0 $gutter-xl;

			.container & {
				margin: 0 #{-$gutter-md};
			}
		}
	}
}
