.brands-item {
	$this: &;

	// padding: $gutter-md $gutter-lg;
	max-width: rem(232);
	height: rem(140);
	display: block;
	// filter: grayscale(100%);
	transition: box-shadow .3s;
	will-change: background-color, box-shadow;
	text-align: center;
	margin: $gutter-md auto;
	text-decoration: none;
	border: 1px solid $color-stroke;
	border-radius: 10px;
	box-sizing: border-box;

	@media(max-width: 480px) {
		height: auto;
	}

	.browserizr-is-mobile & {
		padding: $gutter-md;
	}

	&:hover {
		box-shadow: 0 0 0 2px $color-dark-mint inset;
	}

	&:focus {
		outline: none;
	}

	&__logo {
		margin-left: auto;
		margin-right: auto;
		object-fit: contain;
		width: rem(150);
		height: rem(97);

		@include media($screen-xl) {
			height: rem(97);
		}
	}

	&__name {
		display: inline;
		color: $color-blue-smoke;
		font-size: rem(16);

		@media(max-width: 480px) {
			display: flex;
			height: 35px;
			align-items: center;
			justify-content: center;
		}

		#{$this}:hover & {
			color: $color-yellow;
		}
	}
}
