%hamburger-line {
	@include absolute-center(100%, 3px);
	background-color: #fff;
	border-radius: 20px;
}

.hamburger {
	display: block;
	padding-top: 100%;
	position: relative;
	transform: translateZ(0);

	i {
		@extend %hamburger-line;
		width: 70%;
		transition: box-shadow $time-now linear, background-color $time-fast linear;
		will-change: box-shadow, background-color;
	}

	&::before {
		@extend %hamburger-line;
		content: '';
		transform: translateY(-300%);
		transition: box-shadow $time-now linear, transform $time-fast linear;
		will-change: box-shadow, transform;
	}

	&::after {
		@extend %hamburger-line;
		content: '';
		transform: translateY(300%);
		transition: box-shadow $time-now linear, transform $time-fast linear;
		will-change: box-shadow, transform;
	}

	&--is-active {
		i {
			background-color: rgba(#fff, 0);
			box-shadow: none !important; // sass-lint:disable-line no-important
		}

		&::before {
			transform: translateY(0) rotate(45deg);
		}

		&::after {
			transform: translateY(0) rotate(-45deg);
		}
	}
}
