.cart-briefly {
	position: relative;
	display: block;

	&__info {
		display: block;
		margin: 0 0 rem(32);
		color: $color-blue-smoke;
		font-size: rem(18);

		strong {
			color: $color-dark-blue;
			font-weight: bold;
		}
	}

	&__actions {
		.button__text {
			font-weight: 400;
		}
	 }
}

.cart-checkout {
	position: sticky;
	top: rem(40px);
	z-index: 1;
	display: block;
	padding: rem(20);
	margin-left: auto;
	border: 1px solid $color-stroke;
	border-radius: 10px;

	@include media($screen-def) {
		max-width: 548px;
	}

	&__head {
		position: relative;
		display: block;
		margin: 0 0 rem(40);
		text-align: center;
	}

	&__body {
		position: relative;
		display: block;
	}

	&__footer {
		position: relative;
		display: block;
		margin: rem(40) 0 0;
	}

	&__title {
		color: #000;
		font-size: rem(32);
		font-weight: $font-weight-bolder;
	}

	&__total-amount {
		display: block;
		margin: 0;
		padding: rem(14) 0;
		color: $color-dark-blue;
		font-size: rem(24);

		strong {
			font-weight: 700;
		}
	}
}

.cart-detailed {
	$this: &;

	position: relative;
	display: block;
	padding: rem(10) rem(15);

	&__body {
		display: block;
		margin: rem(-30) 0 0;
	}

	&__footer {
		display: block;
		margin: rem(10) 0 0;
		position: sticky;
		bottom: -1px;
		background: $color-white;
		z-index: 9;
		padding-top: rem(5);
		padding-bottom: rem(5);

		@include media($screen-md) {
			margin: rem(20) 0 0;
		}

		.button--size-large {
			min-width: 208px;

			@include media($screen-md) {
				min-width: initial;
			}
		}
	}

	&__image {
		display: block;
		max-width: 100%;
		max-height: 300px;
		margin: 0 auto;
	}

	&__section {
		margin: 0;

		& + & {
			margin-top: rem(40);
		}
	}

	&__title {
		display: block;
		margin: rem(24) 0 rem(16);
		padding: 0;
		color: $color-dark-blue;
		font-size: rem(30);
		font-weight: 600;
		line-height: 1.15;
	}

	&__items-list {
		display: block;
	}

	&__total-price {
		display: block;
		margin: rem(10) 0 0;
		color: $color-dark-blue;
		font-size: rem(36);
		text-align: right;

		strong {
			font-weight: bold;
		}
	}

	&__summary {
		display: flex;
		flex-direction: column;
	}

	&__old-total-price {
		display: inline;
		margin: rem(10) 0 0;
		color: rgba($color: $color-dark-blue, $alpha: .5);
		font-size: 14px;
		text-align: right;
		position: relative;

		@include media($screen-xxs) {
			margin: rem(10) 0 0 auto;
		}

		&::after {
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			transform: translateY(-50%);
			height: 2px;
			width: 100%;
			background-color: $color-red;
		}
	}

	&__involve {
		color: $color-blue-smoke;
	}

	&.is-empty {
		max-width: 768px;
		margin: 0 auto;
		text-align: center;
	}
}

[data-cart-container] {
	@include preloader();
}
