.header-over {
	// @include clearfix();
	padding: rem(10) 0;
	display: grid;
	grid-template-columns: 3fr 7fr 2fr;
	grid-column-gap: 10px;

	&__center {
		align-self: center;
		display: flex;

		@include media($screen-xl) {
			padding-left: rem(50);
		}

		@include media($screen-xxl) {
			padding-left: rem(20);
		}
	}

	&__right {
		padding-right: rem(20);
		padding-left: rem(35);
		align-self: center;
		display: flex;
		justify-content: space-between;

		.header-line__list {
			padding-right: rem(10);
		}

		// position: relative;
		// z-index: 2;
		// float: right;
		// margin-left: $gutter-def;
		// display: flex;
		// padding: $gutter-sm 0;
	}

	&__left {
		display: flex;
		align-items: center;
		// overflow: hidden;
		// padding: $gutter-sm 0;
	}
}
