.header-line {
	position: relative;

	//&::after {
	//	content: '';
	//	position: absolute;
	//	top: 0;
	//	bottom: 0;
	//	pointer-events: none;
	//	right: 0;
	//	width: 2rem;
	//	background: linear-gradient(to right, rgba($color-black, 0) 0%, rgba($color-black, .65) 100%);
	//}

	&__list {
		// overflow-y: hidden;
		// overflow-x: auto;
		padding: $gutter-sm 0;
		margin: -$gutter-sm 0;
		display: flex;
		align-items: center;

		&::-webkit-scrollbar {
			width: 5px;
			height: 5px;
		}

		&::-webkit-scrollbar-track {
			background: transparent;
		}

		&--languages {
			.header-line-item__link {
				font-weight: 500;
				font-size: 18px;
			}
		}

		&::-webkit-scrollbar-thumb {
			width: 5px;
			background: rgba($color-white, .35);
			cursor: pointer;

			&:hover {
				background: rgba($color-white, .5);
			}
		}
	}
}

.header-line-item {
	font-size: rem(14);
	line-height: 1;
	white-space: nowrap;
	position: relative;

	&--phone {
		margin-left: 5%;
	}

	& + & {
		margin-left: rem(10);
		padding-left: rem(15);

		&::after {
			content: '';
			position: absolute;
			left: 0;
			top: 50%;
			transform: translateY(-50%);
			width: rem(6);
			height: rem(6);
			background-color: $color-stroke;
			border-radius: 50%;
		}
	}

	&--divider {
		flex-grow: 1;
		margin-left: 0 !important; // sass-lint:disable-line no-important
		margin-right: 0 !important; // sass-lint:disable-line no-important
		border-left-width: 0 !important; // sass-lint:disable-line no-important
	}

	&:last-child {
		.header-line & {
			padding-right: 1.75rem;
		}
	}

	&__link {
		font-weight: $font-weight-bold;
		color: $color-dark-blue;
		text-decoration: none;
		cursor: pointer;
		font-size: 14px;

		&::first-letter {
			text-transform: uppercase;
		}

		a {
			color: $color-dark-blue;
			text-decoration: none;
		}

		& + & {
			margin-left: 4px;
		}

		&--icon {
			position: relative;
			padding-right: rem(26);

			svg {
				position: absolute;
				top: 50%;
				right: 0;
				width: rem(20);
				height: rem(20);
				margin-top: rem(-10);
				fill: $color-main;
			}
		}

		&--icon-small {
			position: relative;
			padding-right: rem(18);

			.icon {
				position: absolute;
				top: 50%;
				right: 0;
				margin-top: rem(-10);
				fill: $color-dark-blue;

				svg {
					width: rem(10);
					height: rem(20);
				}
			}
		}

		&:hover {
			color: $color-blue-smoke;
		}

		&:active {
			color: $color-dark-blue;
		}

		.header-line__list & {
			color: $color-blue-smoke;

			&:hover {
				color: $color-dark-blue;
			}
		}

		.header-line__list &--current {
			cursor: default;
			color: $color-dark-blue;
			position: relative;

			&::after {
				content: '';
				position: absolute;
				bottom: rem(-5);
				left: 0;
				width: 100%;
				height: 1px;
				background-color: currentColor;
			}
		}
	}
}
