.slogan {
	display: flex;
	max-width: 180px;
	font-size: rem(10);
	line-height: 1.1;
	color: $color-blue-smoke;
	text-decoration: none;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	margin: 7px auto;

	@include media($screen-xs) {
		justify-content: flex-start;
		margin: 7px 0;
	}

	@include media($screen-def) {
		padding-left: rem(20);
		margin: 7px 0 7px rem(18);
	}

	@include media($screen-xxs) {
		font-size: rem(12);
	}

	@include media($screen-sm) {
		font-size: rem(15);
	}


	@include media($screen-md) {
		height: rem(40);
	}

	@include media($screen-def) {
		border-left: 1px solid $color-stroke;

		@include media($screen-xxl, max) {
			font-size: rem(14);
			line-height: rem(18);
		}
	}

	&--white {
		color: $color-white;
		border: none;

		@include media($screen-def) {
			border: none;
		}
	}

	p {
		margin: 0;
	}

	strong,
	b {
		font-weight: $font-weight-bold;
	}
}
