.up-button {
	display: flex;
	width: 36px;
	height: 36px;
	background: $color-stroke;
	border-radius: 100%;
	margin: 0.5rem auto 2px;
	visibility: hidden;
	opacity: 0;
	transform: scale(0.5);
	transition: 0.2s ease-out;
	cursor: pointer;
	box-shadow: 0 0 0 1px $color-gray-1;
	outline: none;
	position: fixed;
	bottom: 15%;
	z-index: 10;
	right: rem(25);

	@include media($screen-md) {
		right: rem(75);
	}

	@include media($screen-def) {
		bottom: 7%;
	}

	&:hover {
		color: $color-secondary-lighten;
		box-shadow: 0 0 0 1px $color-gray-1, 0 0 10px rgba($color-black, 0.7);
	}

	&:active {
		transform: scale(0.8);
		color: $color-secondary-darken;
		box-shadow: 0 0 0 1px $color-gray-1, 0 0 4px rgba($color-black, 0.5);
	}

	&__symbol {
		fill: $color-blue-smoke;
		margin: auto;
		max-width: 56%;
		max-height: 56%;
	}

	&__text {
		position: absolute;
		top: 115%;
		left: 50%;
		transform: translateX(-50%);
		font-size: 12px;

	}

	&--show {
		visibility: visible;
		opacity: 1;
		transform: none;
	}
}
