////
/// @group settings/
////

// ----------------------------------------
// Borders
// ----------------------------------------

$border-radius-small: 3px;
$border-radius-default: 4px;

// ----------------------------------------
// Colors
// ----------------------------------------
$color-smoke-mint: #74C3B4;
$color-dark-mint: #47B39C;
$color-blue-smoke: #5C6D7D;
$color-dark-blue: #33485D;
$color-yellow: #FFBE48;
$color-smoke-yellow: #FFCB6D;
$color-stroke: #DDE8F0;
$color-red: #EB5757;
$color-red-hover: #f99090;
$color-red-candy: #FDEEEE;

$_colors-map: (
	smoke-mint: $color-smoke-mint,
	dark-mint: $color-dark-mint,
	blue-smoke: $color-blue-smoke,
	dark-blue: $color-dark-blue,
	yellow: $color-yellow,
	smoke-yellow: $color-smoke-yellow,
	stroke: $color-stroke,
	red: $color-red,
	red-candy: $color-red-candy
);

$color-white: #ffffff;
$color-gray-1: #f5f5f6; // #f8f9fa;
$color-gray-2: #e9ecef;
$color-gray-3: #dee2e6;
$color-gray-4: #cbcbcb; // #ced4da;
$color-gray-5: #adb5bd;
$color-gray-6: #737373; // #6c757d;
$color-gray-7: #495057;
$color-gray-8: #343a40;
$color-gray-9: #212529;
$color-gray-10: #ccd0d4;
$color-black: #000000;
$color-background: #f9f9f9;

$color-main: $color-smoke-mint;
$color-main-lighten: var(--color-main-lighten);
$color-main-darken: var(--color-main-darken);

$color-secondary: var(--color-secondary);
$color-secondary-lighten: var(--color-secondary-lighten);
$color-secondary-darken: var(--color-secondary-darken);

$color-success: #ff0;
$color-info: #55f;
$color-info-muted: #cbcbcb;
$color-warning: #990;
$color-danger: #db402c;
$color-danger-darken: #cf3420;

// ----------------------------------------
// Custom colors
// ----------------------------------------

$custom-color-additional: #b5b9c6;
$custom-color-text-muted: rgba(#000, .5);
$custom-color-border-muted: rgba(#000, .15);
$custom-color-image-hover: rgba(#000, .015);

// ----------------------------------------
// Font family
// ----------------------------------------

$font-family-default: 'Nunito', sans-serif;
$font-family-main: $font-family-default;
$font-family-wysiwyg: sans-serif;
$font-family-accent: #{$font-family-default};
$font-family-ui: sans-serif;
$font-family-code: monospace;

// ----------------------------------------
// Font weights
// ----------------------------------------

$font-weight-thin: 100;
$font-weight-lighter: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-bolder: 900;

// ----------------------------------------
// Gutters
// ----------------------------------------

$gutter-xxs: 2px;
$gutter-xs: rem(6);
$gutter-sm: rem(10);
$gutter-md: rem(16);
$gutter-def: rem(20);
$gutter-lg: rem(30);
$gutter-xl: rem(40);
$gutter-xxl: rem(60);

// ----------------------------------------
// Network colors
// ----------------------------------------

$network-color-blogger: #f58220;
$network-color-bobrdobr: #763c34;
$network-color-delicious: #003bd8;
$network-color-digg: #165495;
$network-color-evernote: #75bb1e;
$network-color-facebook: #44619d;
$network-color-facebook--hover: #5976b1;
$network-color-facebook--active: #36538f;
$network-color-formspring-me: #4693d7;
$network-color-google-plus: #db402c;
$network-color-google-map-bg: #e5e3df;
$network-color-instapaper: #6b6b6b;
$network-color-juick: #b98337;
$network-color-linked-in: #007ab5;
$network-color-liveinternet: #27819b;
$network-color-livejournal: #6899c4;
$network-color-mail-ru: #2f69a1;
$network-color-memori: #fd2668;
$network-color-myspace: #1d1d1d;
$network-color-odnoklassniki: #f58220;
$network-color-pinterest: #cb2027;
$network-color-readability: #9d0000;
$network-color-rss: #fb7629;
$network-color-springpad: #f7b42f;
$network-color-stumbleupon: #ed4713;
$network-color-surfingbird: #14aef8;
$network-color-telegram: #0088cc;
$network-color-tumblr: #2e4e67;
$network-color-twitter: #64a8f2;
$network-color-vk: #41658b;
$network-color-webdiscover: #8bc514;
$network-color-yahoo: #7b0099;
$network-color-youtube: #ff0000;
$network-color-instagram: #893dc2;
$network-gradient-instagram: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%),
radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%),
radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%),
radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%),
radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%),
radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%),
radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent),
linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);

// ----------------------------------------
// Screens
// ----------------------------------------

$screen-xxs: 375px;
$screen-xs: 480px;
$screen-sm: 568px;
$screen-ms: 640px;
$screen-md: 768px;
$screen-def: 1024px;
$screen-lg: 1280px;
$screen-xl: 1366px;
$screen-xxl: 1440px;
$screen-mg: 1560px;
$screen-xmg: 1668px;
$screen-hd: 1920px;
$screen-2k: 2048px;
$screen-4k: 3840px;

$screen-orientation-auto: "only screen and (orientation: auto)";
$screen-orientation-landscape: "only screen and (orientation: landscape)";
$screen-orientation-portrait: "only screen and (orientation: portrait)";

// ----------------------------------------
// Shadows
// ----------------------------------------

$shadow-box-round: 0 0 $gutter-lg rgba(#141414, .11);
$shadow-box-down: 0 $gutter-lg $gutter-lg rgba(#141414, .11);
$shadow-image-down: 0 0 1rem rgba(#141414, .4);
$shadow-text: 0 0 2px rgba(#141414, .1), 0 3px 4px rgba(#141414, .3);
$shadow-text-light: 0 2px 3px rgba(#000, .175);

// ----------------------------------------
// Times
// ----------------------------------------

$time-now: .1s;
$time-fast: .2s;
$time-normal: .3s;
$time-slow: .5s;
$time-turtle: .7s;
$time-snail: 1s;
