////
/// @group _blocks/
////

/// Description
.cookie-info {
	color: $color-dark-blue;
	position: fixed;
	bottom: -1px;
	left: 50%;
	transform: translateX(-50%);
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	width: 100%;
	max-width: 1440px;
	background: $color-background;
	z-index: 1000;
	padding: $gutter-def 0;

	&__content {
		padding: 0;
		margin: 0;
		font-size: rem(14px);
		line-height: normal;
		font-weight: $font-weight-lighter;
		color: $color-dark-blue;
	}
}
