.product-thumbs-slider {
	position: absolute;
	top: rem(30);
	left: 0;
	z-index: 1;
	max-width: rem(130);
	display: none;

	@include media($screen-def) {
		display: block;
		padding-left: rem(5);
	}

	&__arrows {
		@include absolute-cube(100%);
		visibility: hidden;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	& + .product-badges {
		@include media($screen-def) {
			left: rem(136);
		}
	}

	& ~ .product-slider {
		@include media($screen-def) {
			margin-left: rem(136);
			min-height: rem(500);
		}
	}

	.slick-slide {
		float: none;
		width: 100% !important; // sass-lint:disable-line no-important
	}
}

.product-thumbs-slide {
	text-align: center;
	width: rem(113);
	height: rem(113);
	margin-left: auto;
	margin-right: auto;
	border-radius: 5px;
	border: 1px solid $color-stroke;
	cursor: pointer;
	padding: 1px;

	&:hover {
		border-color: $color-smoke-mint;
	}

	.slick-current & {
		border-color: $color-smoke-mint;
		box-shadow: 0 0 0 1px $color-dark-mint inset;
	}

	&__img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
