.product-sticky {
	// overflow: hidden;
	border-radius: 13px;
	border: 1px solid $color-stroke;

	@include media($screen-def, 1024) {
		border-bottom: none;
	}

	@include media($screen-sm, max) {
		position: sticky;
		bottom: -1px;
		z-index: 9;
		background: #fff;
		box-shadow: 0 -5px 0 #fff;
	}
}
