.product-price {
	$this: &;

	white-space: nowrap;
	padding: rem(10) 0;
	margin-right: 15px;

	@include media($screen-lg) {
		margin-right: 0;
	}

	@include media($screen-xmg) {
		margin-right: 15px;
	}

	.product-aside &,
	.product-sticky & {
		padding-top: rem(20);
		padding-bottom: rem(20);
		display: flex;
		align-items: center;

		@include media($screen-md) {
			padding-top: rem(40);
		}

		&__current {
			font-size: rem(24);

			@include media($screen-md) {
				font-size: rem(36);
			}
		}

		&__old {
			margin-left: rem(17);
		}
	}

	&__old {
		display: inline;
		text-align: center;
		font-size: rem(14);
		color: rgba($color: $color-dark-blue, $alpha: 0.5);
		position: relative;

		&::before {
			position: absolute;
			content: '';
			top: 50%;
			left: 0;
			width: 100%;
			height: 1px;
			background-color: $color-red;
		}

		@include media($screen-sm) {
			font-size: rem(16);
		}
	}

	&__current {
		position: relative;
		font-size: rem(18);
		font-weight: bold;
		color: $color-dark-blue;

		@include media($screen-sm) {
			font-size: rem(24);
		}

		&.is-active {
			color: $color-red;
		}
	}
}
