.wholesale-price {
	margin: rem(5) rem(5) rem(5) 0;
	padding: rem(5) rem(10);
	border: 1px solid $color-gray-1;

	&__title {
		font-size: rem(14);
		line-height: rem(20, 14);
	}

	&__current {
		font-size: rem(16);
		line-height: rem(22, 16);
		color: $color-gray-9;
		font-weight: 500;
	}

	&__label {
		font-size: rem(14);
		line-height: rem(20, 14);
		color: $color-gray-6;
	}
}
