////
/// @group blocks/layouts/
////

/// Description
.container {
	position: relative;
	margin: 0 auto;
	max-width: 1425px;
	padding-left: $gutter-sm;
	padding-right: $gutter-sm;

	@include media($screen-xs) {
		padding-left: $gutter-md;
		padding-right: $gutter-md;
	}

	& & {
		padding-left: 0;
		padding-right: 0;
	}

	&--lg {
		max-width: $screen-lg;
	}

	&--def {
		max-width: $screen-def;
	}

	&--md {
		max-width: $screen-md;
	}

	&--white {
		background-color: $color-white;
	}

	&--border-top-radius {
		border-radius: 10px 10px 0 0;
	}

	&--border-bottom-radius {
		@include media($screen-def) {
			border-radius: 0 0 10px 10px;
		}
	}

	&--small {
		max-width: 1410px;
		margin: 0 9px;

		@include media($screen-xs) {
			margin: 0 14px;
		}

		@include media(1280px) {
			margin: 0 16px;
		}

		@include media(1475px) {
			margin: 0 auto;
		}
	}

	&--breadcrumbs {
		max-width: 1410px;
		margin: 0 9px;
		padding-bottom: 10px;

		@include media($screen-xs) {
			margin: 0 14px;
		}

		@include media(1280px) {
			margin: 0 16px;
		}

		@include media(1475px) {
			margin: 0 auto;
		}
	}

	&--inner {
		max-width: 1442px;
	}

	&--slider {
		max-width: 1442px;

		@include media($screen-def) {
			padding: 0 rem(30);
		}

		@include media(1500px) {
			padding: 0;
		}
	}

	&--full {
		overflow: hidden;
		padding: 0;
		max-width: 1442px;

		@include media($screen-xs) {
			padding: 0;
		}
	}

	&--border-top {
		border-top: 1px solid $color-blue-smoke;
	}
}

.unique-container {
	width: 101%;
	margin-left: -0.4%;
}
