////
/// @group blocks/layouts/
////

/// Description
.layout {
	$this: &;

	display: flex;
	flex-direction: column;
	background-color: $color-white;
	position: relative;
	height: auto;
	min-height: 100vh;

	&.mm-page {
		background-color: $color-white !important; // sass-lint:disable-line no-important
	}

	&__body {
		flex-grow: 1;

		&--overflow {
			overflow: unset;
		}
	}

	&--site {
		@include media($screen-def, max) {
			padding-top: 54px;
		}
	}

	&--wide {
		.container {
			&--small,
			&--breadcrumbs {
				@include media($screen-def, max) {
					margin: 0;
				}
			}
		}
	}

	&--account {
		#{$this} {
			&__footer {
				margin: rem(70) 0 0;
			}
		}

		.section--gradient {
			padding: 60px 0 0;
		}
	}

	&__footer {
		.logo {
			max-width: 105px;

			svg {
				display: block;
				width: auto;
				height: auto;
			}
		}
	}
}
