////
/// @group blocks/layouts/
////

/// Description
.section {
	display: block;
	position: relative;
	background: top center no-repeat;
	background-size: 100%;

	&__bg-img {
		display: none;

		@include media($screen-def) {
			display: block;
			position: absolute;
			left: 0;
			width: 100%;
			bottom: -23vw;

			span {
				display: block;
				padding-top: percentage(450 / 1920);
				background: center bottom no-repeat;
				background-size: 100%;

				&::after {
					@include absolute-cube(100%);
					content: '';
					background: linear-gradient(to bottom, rgba($color-gray-1, 1) 0%, rgba($color-gray-1, .2) 100%);
				}
			}
		}
	}

	// .browserizr-is-desktop & {
	// 	@include media($screen-def) {
	// 		@include media($screen-lg, max) {
	// 			padding-right: 42px;
	// 		}
	// 	}

	// 	@include media($screen-lg) {
	// 		@include media($screen-xxl + 140px, max) {
	// 			padding-right: 70px;
	// 		}
	// 	}
	// }

	&--invert {
		color: $color-white;
	}

	&--reviews {
		background-position: center top;
		background-size: cover;
		background-color: $color-gray-7;
	}

	&--black {
		background-color: $color-black;
		color: $color-white;
	}

	&--white {
		background-color: $color-white;
	}

	&--sticky-over {
		// position: sticky;
		top: 0;
		z-index: 101;
		background-color: $color-white;

		.container {
			max-width: 1440px;
		}
	}

	&--sticky-bar {
		background-color: $color-white;
		top: 0;

		&.scrolled-out {
			padding-top: 5px;
		}

		@include media($screen-def) {
			position: sticky;
			// top: 68px;
			z-index: 100;

			&:not(.scrolled-out) {
				background-color: $color-white;
				// box-shadow: 0 10px 10px rgba($color-gray-1, .85);
			}
		}

		// @include media($screen-lg) {
		// }

		.container {
			max-width: 1440px;
		}
	}

	&--footer-top {
		padding: rem(56) 0 10px;
		background-color: $color-background;
	}

	&--footer-mobile {
		background-color: $color-background;
	}

	&__fixed {
		position: fixed;
		height: 54px;
		top: 0;
		left: 0;
		right: 0;
		padding-top: $gutter-sm;
		padding-bottom: $gutter-sm;
		background-color: $color-dark-blue;
		z-index: 100;
		box-sizing: border-box;

		> .container {
			height: 100%;

			> .grid {
				height: 100%;
			}
		}
	}

	&--about-info {
		@include media($screen-lg) {
			padding-bottom: rem(200);

			&::after,
			&::before {
				position: absolute;
				right: 0;
				left: 0;
				height: 100%;
				z-index: -1;
				content: '';
			}

			&::after {
				top: 0;
				background: url(/static/images/about-bg--top.jpg) center top no-repeat;
			}

			&::before {
				bottom: 0;
				background: url(/static/images/about-bg--bottom.jpg) right bottom no-repeat;
			}
		}
	}

	&--about-qa {
		background-color: $color-gray-7;
		padding: rem(25) 0;

		@include media($screen-def) {
			background: url(/static/images/about-bg--qa.jpg) center top no-repeat;
			background-size: cover;
			padding: rem(200) 0 rem(80);
		}
	}

	&--search-mobile {
		@include media($screen-def, max) {
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			background: $color-white;
			z-index: 103;
			visibility: hidden;

			.is-search-view & {
				visibility: visible;
			}
		}

		.container {
			max-width: 1442px;
		}
	}

	&--gradient {
		position: relative;

		@include media($screen-md) {
			margin-top: rem(15);
		}

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 720px;
			background: linear-gradient(180deg, #f9f9f9 0%, #FFFFFF 100%);

			@include media($screen-md) {
				top: rem(-15);
			}
		}
	}
}
