////
/// @group blocks/
////

/// Description
.checker {
	$this: &;

	padding-bottom: 1px;
	position: relative;
	display: inline-flex;
	align-items: center;
	user-select: none;
	cursor: pointer;
	visibility: hidden;

	@at-root #{$this}.disabled {
		opacity: 0.33;
		cursor: not-allowed;
	}

	@at-root a#{$this} {
		text-decoration: none;
		color: $color-blue-smoke;

		&.is-checked,
		&:hover {
			color: $color-dark-mint;
		}
	}

	label {
		&.has-error {
			position: absolute;
			top: 100%;
			left: 0;
			font-size: rem(11);
			background: $color-white;
			color: $color-danger;
			padding: 4px 8px;
			border: 1px solid;
			margin-top: 5px;
			z-index: 9;

			&::after,
			&::before {
				bottom: 100%;
				left: rem(10);
				border: solid transparent;
				content: " ";
				height: 0;
				width: 0;
				position: absolute;
				pointer-events: none;
			}

			&::after {
				border-color: rgba($color-white, 0);
				border-bottom-color: $color-white;
				border-width: 4px;
				margin-left: -4px;
			}

			&::before {
				border-color: rgba($color-danger, 0);
				border-bottom-color: $color-danger;
				border-width: 5px;
				margin-left: -5px;
			}
		}
	}

	&--padding-left {
		.checker__text {
			margin-left: 0;
			padding-left: 33px !important; //sass-lint:disable-line no-important
		}
	}

	&__input {
		display: none;

		&:checked + .checker__text {
			color: $color-dark-mint;

			&::before {
				background-color: $color-dark-mint;
				border-color: transparent;
			}
		}
	}

	&__symbol {
		position: absolute;
		fill: $color-white;
		filter: drop-shadow(0, 2px, rgba($color-black, .3));
		transform: scale(0);
		transition: transform $time-fast ease;

		// sass-lint:disable force-element-nesting
		[type="checkbox"] ~ #{$this}__icon &,
		.is-checked #{$this}__icon & {
			@include absolute-center(rem(12), rem(12), false);
		}

		:checked ~ #{$this}__icon &,
		.is-checked #{$this}__icon & {
			transform: scale(1);
		}
		// sass-lint:enable force-element-nesting
	}

	&__text {
		visibility: visible;
		line-height: normal;
		font-size: rem(16);
		position: relative;
		padding: 0 0 0 33px;

		&::before,
		&::after {
			position: absolute;
			content: '';
		}

		&::before {
			box-sizing: border-box;
			width: 20px;
			height: 20px;
			background: none;
			border: 1px solid #DDE8F0;
			border-radius: 3px;
			transition: 0.25s ease;
			top: 0;
			left: 0;
		}

		&::after {
			top: 5px;
			left: 5px;
			box-sizing: border-box;
			width: 13px;
			height: 7px;
			background: none;
			border-bottom: 1.5px solid #ffffff;
			border-left: 1.5px solid #ffffff;
			border-radius: 0;
			transform: rotate(-45deg);
		}
	}

	&__counter {
		color: $color-gray-5;

		#{$this}:hover & {
			color: $color-dark-mint;
		}
	}
}
