.action-bar-inner-menu {
	$this: &;

	position: absolute;
	left: rem(360);
	top: rem(62);
	height: calc((100vw - (24.5rem + 70px)) * 0.454);
	max-height: 500px;
	right: 0;
	background: $color-white;
	z-index: 2;
	box-shadow: 0 10px 80px rgba(0, 52, 41, 0.3);
	border-radius: 10px;
	visibility: hidden;
	opacity: 0;
	transition: visibility 0s 0.2s linear, opacity 0.3s 0.2s;

	&.is-active {
		visibility: visible;
		opacity: 1;
		transition-delay: 0.1s;
	}

	&__item {
		display: flex;
		visibility: hidden;
		opacity: 0;
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		transition: visibility 0s 0s linear, opacity 0.2s 0.1s;

		.is-active &.is-active {
			visibility: visible;
			opacity: 1;
			transition-delay: 0s;
		}
	}

	&__column {
		box-sizing: border-box;
		position: relative;
		display: flex;
		height: 100%;
		flex-shrink: 0;
		max-width: 80%;
		min-width: 40%;

		#{$this}__image + & {
			flex-grow: 1;
		}
	}

	&__scroll {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-right: 0 !important; // sass-lint:disable-line no-important
	}

	&__holder {
		display: flex;
		flex-grow: 1;
	}

	&__image {
		display: flex;
		height: 100%;
		padding: rem(20) rem(40);
		box-sizing: border-box;
		align-items: flex-start;
		min-width: 20%;
		max-width: 60%;
		justify-content: flex-end;
		overflow: hidden;

		img {
			width: auto;
			height: auto;
		}
	}
}
