.action-bar-catalog-list {
	$this: &;

	padding: 5px 0 rem(20);

	&__item {
		max-width: 358px;
		border-radius: 12px;
		margin: auto;

		&:first-child {
			#{$this}__text {
				&::before {
					display: none;
				}
			}
		}

		&:hover {
			background: $color-stroke;
		}
	}

	&__link {
		display: flex;
		align-items: center;
		padding: 0 rem(16);
		margin-bottom: rem(6);
		text-decoration: none;

		&:hover {
			& > #{$this}__text {
				color: $color-dark-blue;
			}

			#{$this}__arrow {
				opacity: 1;
				fill: $color-dark-blue;
			}
		}
	}

	&__arrow {
		width: 12px;
		height: 19px;
		opacity: 0.5;
		fill: $color-blue-smoke;

		svg {
			width: 100%;
			height: 100%;
		}
	}

	&__icon {
		width: rem(34);
		height: rem(34);
		margin-right: rem(16);

		svg {
			width: rem(34);
			height: rem(34);
		}
	}

	&__text {
		display: block;
		width: 100%;
		// padding: rem(10) rem(10) rem(10) 0;
		padding-right: rem(10);
		min-height: rem(50);
		line-height: rem(50);
		font-size: rem(18);
		font-weight: 600;
		color: $color-blue-smoke;
		position: relative;
		max-width: 100%;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		// &::after {
		// 	content: '';
		// 	position: absolute;
		// 	top: 50%;
		// 	right: 0;
		// 	width: 7px;
		// 	height: 7px;
		// 	border-width: 1px 1px 0 0;
		// 	border-style: solid;
		// 	margin-top: -4px;
		// 	opacity: 0;
		// 	transition: 0.15s ease;
		// 	transform: scale(1, 1.2) rotate(45deg);
		// 	transform-origin: top center;

		// 	.js-submenu-item & {
		// 		opacity: 1;
		// 	}
		// }

		// &::before {
		// 	content: '';
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// 	right: 0;
		// 	height: 1px;
		// 	background-color: $custom-color-border-muted;
		// }
	}
}
