.action-bar-catalog {
	position: relative;
	height: 100%;
}

.action-bar-catalog-head {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 rem(20);
	background-color: $color-yellow;
	border-top-left-radius: 15px;
}

.action-bar-catalog-opener {
	display: flex;
	align-items: center;
	color: #fff;
	fill: currentColor;
	user-select: none;
	cursor: pointer;
	transition: text-shadow $time-now linear;
	will-change: text-shadow;

	&:hover {
		text-shadow: $shadow-text;

		.hamburger {
			&::before,
			&::after,
			i {
				box-shadow: $shadow-text;
			}
		}
	}

	.action-bar-catalog--expanded & {
		@include media($screen-lg) {
			pointer-events: none;
		}
	}

	&__icon {
		width: rem(30);
		height: rem(30);
		margin-right: rem(20);

		&--to-close {
			height: rem(24);
			display: none;
		}

		.action-bar-catalog--opened & {
			&--to-close {
				display: block;
			}

			&--to-open {
				display: none;
			}
		}
	}

	&__text {
		text-transform: lowercase;
		font-weight: 600;
		font-size: rem(24);
		line-height: 1;
	}
}

.action-bar-catalog-link {
	text-decoration: none;
	color: #fff;
	font-size: rem(14);
	line-height: 1;
	font-weight: $font-weight-lighter;
	position: relative;

	&::before {
		content: '';
		position: absolute;
		bottom: rem(-10);
		left: 0;
		width: 100%;
		height: 1px;
		background-color: $color-white;
	}
}

.action-bar-catalog-body {
	position: absolute;
	z-index: 2;
	display: none;
	width: 100%;
	max-height: 586px;
	background: #fff;
	overflow: hidden;
	height: 100vw;

	.action-bar-catalog--opened & {
		box-shadow: $shadow-box-round;
	}

	.action-bar-catalog--expanded & {
		@include media($screen-lg) {
			display: block !important; // sass-lint:disable-line no-important
			background: none;
		}
	}

	&__list {
		position: relative;
		height: 100%;
		max-height: 586px;
		overflow: auto;
		margin-top: 15px;
	}

	&__download {
		border-top: 1px solid $custom-color-border-muted;
		height: rem(110);
		display: flex;
		align-items: center;
		justify-content: center;
		padding: $gutter-md;
		box-sizing: border-box;
	}
}
