.popup {
	$this: &;

	position: relative;
	display: block;
	padding: rem(28) rem(15);
	max-width: 454px;
	margin: 0 auto;
	background-color: #fff;
	box-shadow: 0 5px 20px rgba(91, 91, 91, 0.25);
	border-radius: 12px;

	@include media($screen-md) {
		padding: rem(28) rem(30);
	}

	&--condition-item {
		max-width: 580px;

		@include media($screen-ms, max) {
			max-width: 98%;
		}
	}

	&--contact {
		max-width: 250px;

		@include media($screen-md) {
			max-width: 350px;
		}
	}

	.wstabs-block {
		&:not(.is-active) {
			display: none;
		}
	}

	.mfp-close {
		cursor: pointer;
		top: 17px;
		right: 12px;
		width: rem(16);
		height: rem(16);
		padding: 0;
		line-height: 0;
		fill: #aeb6be;

		svg {
			position: relative;
			z-index: -1;
			width: 100%;
			height: 100%;
		}

		&:hover {
			fill: $color-yellow;
		}

		&:active {
			top: 17px;
		}

		&:focus {
			top: 17px;
			outline: none;
		}
	}

	&__container {
		display: block;
		padding: 0 rem(15);

		@include media($screen-md) {
			padding: 0 rem(36);
		}
	}

	&__head {
		display: block;
		margin: 0 0 20px;

		.svg-icon {
			display: block;
			width: rem(40);
			height: rem(40);
			fill: $color-main;
			color: $color-main;

			&--icon-ask-consultant {
				width: rem(60);
				height: rem(58);
			}
		}
	}

	&__body {
		display: block;
	}

	&__footer {
		display: block;
		margin: rem(40) 0 0;
	}

	&__title {
		display: block;
		margin: 0 0 4px;
		padding: 0;
		color: #000;
		font-size: rem(30);
		font-weight: 900;
	}

	&__desc {
		display: block;
		margin: 0;
		padding: 0;
		color: #000;
		font-size: 15px;
		font-weight: 300;
	}

	&__social-section {
		#{$this} {
			&__container {
				padding-top: rem(36);
				padding-bottom: rem(48);
			}
		}
	}

	&--callback {
		max-width: 600px;
	}

	&--consultation {
		max-width: 534px;
	}

	&--regauth,
	&--login-only {
		max-width: 574px;
		padding-bottom: 0;
	}

	&--cart {
		max-width: 820px;
		width: initial;
		padding: rem(40);
		padding-top: rem(50);

		#{$this}__container {
			padding: 0;
		}

		.cart-detailed {
			padding: 0;
		}
	}

	&--wishlist-confirm-mass-delete {
		padding: rem(50) 0 rem(30);
	}

	&--wysiwyg {
		max-width: 900px;
	}
}
