.conditions-item {
	$this: &;

	border: {
		top: 1px solid $color-gray-1;
		bottom: 1px solid $color-gray-1;
	}
	min-height: rem(50);
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: rem(7) rem(13);
	padding-right: 0;

	&--options,
	& + & {
		border-top: none;
	}

	&--options {
		#{$this}__head {
			padding: rem(20) 0 rem(20) 9px;

			&::after {
				display: none;
			}
		}
	}

	.select {
		//order: 1;
		margin-top: rem(5);

		@include media($screen-xs, max) {
			max-width: 100%;
		}

		@include media($screen-xs) {
			margin-top: 0;
			//order: initial;
		}

		@include media($screen-md) {
			//order: 1;
			margin-top: rem(5);
		}

		@include media($screen-lg) {
			margin-top: 0;
			//order: initial;
		}
	}

	&__head {
		padding-right: 25px;
		position: relative;
		cursor: pointer;
		color: $color-blue-smoke;
		display: flex;
		align-items: center;
		justify-content: space-between;

		&:hover {
			color: $color-yellow;
		}

		.conditions-item--options & {
			cursor: default;
			color: $color-blue-smoke;
		}

		&::after {
			position: absolute;
			content: '';
			right: 8px;
			top: 50%;
			width: 6px;
			height: 6px;
			border: 1px solid $color-dark-blue;
			border-top-width: 0;
			border-right-width: 0;
			margin-top: -4px;
			transform: rotate(-45deg);
		}

		&.is-open::after {
			transform: rotate(135deg);
		}
	}

	&__img {
		font-size: 0;
		overflow: hidden;
		max-width: rem(355);
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-end;

		&--inner {
			width: 100%;
			max-width: none;
			box-sizing: border-box;
			padding-right: 25px;
		}

		img {
			max-height: 30px;
			max-width: 48px;
			margin: 2px 6px 2px 0;
			filter: grayscale(1);
		}
	}


	&__icon {
		display: flex;
		width: rem(20);
		height: rem(20);
		background: $color-white;
		border-radius: 100%;

		.svg-icon {
			margin: auto;
			max-width: 100%;
			max-height: 100%;
			fill: $color-dark-mint;
		}
	}

	&__title {
		font-size: rem(16);
		line-height: em(20, 16);
		font-weight: $font-weight-bold;
	}

	&__descr {
		padding: rem(7) 0;
		font-size: rem(14);
		color: $color-blue-smoke;
	}

	&__link {
		font-size: rem(13);
		text-decoration: none;
		color: $color-dark-blue;
		cursor: pointer;

		&:hover {
			color: $color-yellow;
		}
	}

	&__item {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-height: rem(50);
		padding: rem(5) rem(10);
		border-radius: 13px;
		background-color: rgba($color: $color-stroke, $alpha: 0.5);
		margin-bottom: 2px;
		//flex-wrap: wrap;
		box-sizing: border-box;
	}

	&__item-price {
		display: flex;
		font-weight: 600;
		color: $color-dark-blue;
		white-space: nowrap;
		margin-left: 10px;
	}

	&__item-icon {
		cursor: pointer;
		margin-left: rem(16);
		width: rem(18);
		height: rem(18);
		fill: $color-dark-mint;

		svg {
			width: 100%;
			height: 100%;
		}
	}
}
