@mixin preloader ($classname: 'is-pending', $disabled: true) {
	$ttf: cubic-bezier(.42, .61, .58, .41);

	box-sizing: border-box;
	position: relative;

	& > * { // sass-lint:disable-line no-universal-selectors
		transition-duration: $time-fast;
		transition-timing-function: ease;
	}

	$color-4: #eead68;
	$color-3: #eec368;
	$color-2: #eece68;
	$color-1: #eed968;
	$color-5: #ee8c68;

	$color: $color-1, $color-2, $color-3, $color-4, $color-5;


	&.#{$classname} {

		.preloader {
			position: absolute;
			background-color: rgba(255, 255, 255, 0.95);
			display: flex;
			justify-content: center;
			align-items: center;
			top: 0;
			width: 100%;
			height: 100%;
			z-index: 20;


			@for $i from 1 through 5 {
				&__dot-#{$i} {
					@include anim();
					width: 20px;
					height: 20px;
					border-radius: 50%;
					background-color: $color-dark-mint;
					margin: 7px;
					display: flex;
					justify-content: center;
					align-items: center;
					animation: scale 2s infinite ease-in-out;
					animation-delay: 200ms * $i;

					//&::before {
					//	content: '';
					//	width: 20px;
					//	height: 20px;
					//	border-radius: 50%;
					//	opacity: 0.7;
					//	background-color: $color-dark-mint;
					//	animation: scale 2s infinite cubic-bezier(0, 0, 0.49, 1.02);
					//	animation-delay: 200ms * $i;
					//	transition: 0.5s all ease; // sass-lint:disable-line no-transition-all
					//	transform: scale(1);
					//}
				}
			}
		}


		@if($disabled) {
			& > * { // sass-lint:disable-line no-universal-selectors
				pointer-events: none;
			}
		}
	}
}

@mixin anim() {
	@keyframes scale {
		0% {
			transform: scale(1);
		}

		50% {
			transform: scale(1.2);
		}

		100% {
			transform: scale(1);
		}
	}
}
