.action-bar-search {
	$gap: .6rem;

	display: flex;
	height: 50px;
	padding: 0 rem(10);

	&--mobile {
		padding: 0;
		height: 100%;
		box-sizing: border-box;
	}

	@include media($screen-def) {
		padding: 0 rem(25);
	}

	&__group {
		flex-grow: 0.98;
		position: relative;
		margin: 0 #{-$gap};

		&--mobile {
			flex-grow: 1;
			margin: 0;
		}

		.scrolled-out & {
			flex-grow: 1;
		}

		label {
			&.has-error {
				position: absolute;
				top: 100%;
				left: 0.6rem;
				font-size: rem(12);
				color: $color-danger;
			}
		}
	}

	&__input {
		border-radius: 10px;
		height: 50px;
		background-color: $color-stroke;
		color: $color-black;
		outline: none;
		display: block;
		width: 100%;
		border-width: 0;
		font-size: 16px;
		font-weight: $font-weight-lighter;
		line-height: rem(32);
		margin: 0;
		padding: 0 #{rem(40) + $gap} .1em rem(20);

		&--mobile {
			border-radius: 3px;
			-webkit-border-radius: 3px;
			-webkit-appearance: none;
			height: 100%;
			line-height: normal;
			padding: rem(10) rem(15);
			background-color: $color-white;
		}

		&:focus {
			background-color: $color-gray-1;
		}

		&::-ms-clear { // sass-lint:disable-line no-vendor-prefixes
			display: none;
			width: 0;
			height: 0;
		}

		&::-ms-reveal {
			display: none;
			width: 0;
			height: 0;
		}

		&::-webkit-search-decoration,
		&::-webkit-search-cancel-button,
		&::-webkit-search-results-button,
		&::-webkit-search-results-decoration {
			display: none;
		}

		&::placeholder {
			color: $color-dark-blue;
		}
	}

	&__submit {
		width: rem(32);
		height: rem(32);
		border-radius: 4px;
		top: 50%;
		transform: translateY(-50%);
		right: $gap;
		position: absolute;
		color: $color-dark-blue;
		fill: currentColor;
		border-width: 0;
		background: none;
		margin: 0;
		padding: 0;

		&:hover {
			color: $color-yellow;
			cursor: pointer;
			background-color: rgba($color-black, .05);
		}

		&--mobile {
			right: 0;

			&:hover {
				background-color: transparent;
			}
		}

		&:focus {
			outline: none;
		}

		svg {
			@include absolute-center(rem(24));
		}
	}

	&__suggestions {
		overflow: hidden;
		position: absolute;
		top: calc(100% - 1px);
		left: rem(-42);
		max-height: calc(100vh - 138px);
		right: 0;
		z-index: 1;
		display: block;
		overflow-y: auto;
		overflow-x: hidden;
		// width: 100%;
		padding: 0 rem(5);
		// border: 1px solid #e5e5e5;
		box-shadow: 0 10px 80px rgba(0, 52, 41, 0.3);
		background-color: $color-white;
		border-radius: 10px;
		opacity: 0;
		visibility: hidden;
		transform: translateY(-10px) translateZ(0);
		transition-property: transform, opacity, visibility;
		transition-duration: $time-fast;
		transition-timing-function: ease;
		will-change: transform, opacity, visibility;

		&--mobile {
			box-sizing: border-box;
			transform: translateY(-10px) translateX(-50%) translateZ(0);
			width: calc(100% + 80px);
			right: unset;
			max-height: calc(100vh - 54px);
			left: 50%;
			border-radius: 0 0 10px 10px;

			@include media($screen-ms) {
				width: 100%;
			}
		}

		@include media($screen-def) {
			padding: 0 rem(16);
			left: -1px;
		}
	}
}

.action-bar-search-wrap {
	position: relative;
	height: 100%;

	&::after {
		content: attr(data-short-query);
		position: absolute;
		top: rem(50);
		right: rem(50);
		z-index: 1;
		display: none;
		padding: 4px rem(40) 5px;
		border-radius: 0 0 10px 10px;
		background-color: $color-danger;
		color: #eee;
		font-size: 13px;
		font-weight: 400;
		text-align: center;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	&--mobile {
		&::after {
			right: 50%;
			transform: translateX(50%);
			top: calc(100% + 9px);
		}
	}

	&.has-result {
		.action-bar-search__suggestions {
			opacity: 1;
			visibility: visible;
			transform: translateY(0) translateZ(0);

			&--mobile {
				transform: translateY(10px) translateX(-50%) translateZ(0);

				@include media($screen-ms) {
					transform: translateY(0) translateX(-50%) translateZ(0);
				}
			}
		}
	}

	&.short-query {
		&::after {
			display: block;
		}
	}
}
