.about-company {
	&__list {
		padding-top: rem(20);
	}

	&__item {
		color: $color-dark-blue;
		margin-bottom: rem(10);
		padding-left: rem(22);
		line-height: rem(24);
		position: relative;

		svg {
			position: absolute;
			left: 0;
			top: 4px;
			width: rem(12);
			height: rem(12);
			fill: $color-yellow;
			margin-right: rem(9);
		}
	}

	&__text {
		line-height: rem(24);
	}

	&__info {
		max-width: 260px;
		margin: auto;
		padding: 0 rem(20);
		height: rem(150);
		background-color: rgba($color: $color-stroke, $alpha: 0.5);
		border-top-left-radius: 12px;
		border-bottom-right-radius: 12px;

		&--about-page {
			max-width: 310px;
			box-sizing: border-box;
		}
	}

	&__counter {
		padding-top: rem(20);
		line-height: 120%;
		text-align: center;
		font-weight: bold;
		font-size: rem(48);
		color: $color-dark-mint;
	}

	&__icon {
		padding: rem(35) 0 rem(20);
		width: 40px;
		height: 40px;
		margin: 0 auto;

		> img,
		svg {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	&__image {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: contain;
	}
}
