.action-bar-bottom {
	min-height: rem(140);
	padding: 0 rem(15);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: relative;
	text-decoration: none;
	background: linear-gradient(90deg, #E67861 0%, #F0DEBC 97.99%);
	color: $color-white;
	transition: opacity .3s;

	&:hover {
		opacity: 0.8;
	}

	.gcell:nth-child(2) & {
		background: linear-gradient(90.17deg, #47B39C 0.09%, #C9EAE3 98.24%);
	}

	.gcell:nth-child(3) & {
		background: linear-gradient(270.5deg, #E2BFDA 1.84%, #9E9EC1 99.77%);
	}

	&__title {
		padding-top: 10px;
		height: rem(36);
		font-size: rem(24);
	}

	&__arrow {
		fill: rgba($color: #ffffff, $alpha: 0.5);
		width: rem(9);
		height: rem(16);

		svg {
			width: 100%;
			height: 100%;
		}
	}

	&__img {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 1.25rem;
		max-width: 150px;
		height: 87%;

		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: scale-down;
		}
	}
}
