.box {
	position: relative;
	background-color: $color-white;
	padding: $gutter-def;
	margin-bottom: $gutter-xxs;

	& > & {
		padding: 0;
		margin: 0;
	}

	& > :first-child {
		margin-top: 0 !important; // sass-lint:disable-line no-important
	}

	& > :last-child {
		margin-bottom: 0 !important; // sass-lint:disable-line no-important
	}

	&--gap {
		margin-bottom: $gutter-def;
		padding: 6px rem(14px) rem(14px) 9px;

		.container--inner & {
			margin-bottom: 0;
		}

		@include media($screen-xs) {
			padding: 6px rem(14px) rem(14px);
		}
	}

	&--p-0 {
		padding: 0;
	}

	&--full-height {
		box-sizing: border-box;
		min-height: 100%;
		height: 100%;
	}

	&--m-none {
		margin: 0;
	}

	&--pb-sm {
		padding: $gutter-def $gutter-def 15px;
	}
}
