.button {
	$this: &;

	display: inline-block;
	vertical-align: top;
	cursor: pointer;
	text-decoration: none;
	text-align: center;
	border: 2px solid transparent;
	outline: none;
	box-sizing: border-box;
	user-select: none;
	position: relative;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 10px;
	font-weight: 600;

	&--disabled,
	&[disabled],
	&.is-disabled {
		cursor: not-allowed;
		opacity: .75;
		filter: grayscale(1);
	}

	&--active,
	&.is-active {
		cursor: default;
	}

	&__load {
		position: absolute;
		background: $color-main;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		visibility: hidden;
		opacity: 0;

		.is-pending & {
			visibility: visible;
			opacity: 1;

			i {
				position: absolute;
				top: 0;
				left: 50%;
				width: 6px;
				background: #fff;
				animation: btn-load 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;

				&:nth-child(1) {
					margin-left: -16px;
					animation-delay: -0.24s;
				}

				&:nth-child(2) {
					margin-left: -3px;
					animation-delay: -0.12s;
				}

				&:nth-child(3) {
					margin-left: 10px;
					animation-delay: 0s;
				}
			}
		}
	}

	&__body {
		display: inline-flex;
		vertical-align: middle;
		align-items: center;

		.is-pending &[animation-button] {
			opacity: 0;
			visibility: hidden;
		}
	}

	&__icon {
		flex-shrink: 0;

		&--before {
			order: 1;
		}

		&--after {
			order: 3;
		}

		&--in-active {
			display: block;

			#{$this}.is-active & {
				display: none;
			}
		}

		&--is-active {
			display: none;

			#{$this}.is-active & {
				display: block;
			}
		}

		.in-cart & {
			color: transparent;
		}

		&--to-catalog {
			fill: $color-white;
			width: 17px !important;
			height: 17px !important;
		}
	}

	&__text {
		order: 2;

		&--double {
			white-space: pre-wrap;
			font-size: rem(20);
			line-height: em(20, 20);
		}

		&--in-active {
			display: block;

			#{$this}.is-active & {
				display: none;
			}
		}

		&--is-active {
			display: none;

			#{$this}.is-active & {
				display: block;
			}
		}
	}

	// themes

	&--theme-default {
		background-color: $color-yellow;
		color: $color-white;
		fill: currentColor;
		border-color: $color-yellow;
		transition: color $time-now linear, border-color $time-now linear, background-color $time-now linear;

		&:hover {
			color: #fff;
			border-color: transparent;
			background-color: $color-smoke-yellow;
		}
	}

	&--theme-default-invert {
		background-color: transparent;
		color: $color-dark-blue;
		fill: currentColor;
		border-color: $color-yellow;
		transition: color $time-now linear, border-color $time-now linear, background-color $time-now linear;

		&:hover {
			color: #fff;
			border-color: transparent;
			background-color: $color-yellow;
		}

		&:active {
			color: rgba(#fff, .75);
			border-color: transparent;
			background-color: $color-smoke-yellow;
			transition-duration: 0s, 0s, 0s;
		}
	}

	&--theme-item-buy {
		background-color: transparent;
		color: $color-black;
		fill: currentColor;
		border-color: $color-black;
		transition: color $time-now linear, border-color $time-now linear, background-color $time-now linear;

		.button {
			&__text {
				white-space: nowrap;
			}
		}

		.item-card:hover & {
			color: #fff;
			border-color: transparent;
			background-color: $color-main;

			&:hover {
				background-color: $color-main-darken;
				text-shadow: $shadow-text, $shadow-text;
			}

			&:active {
				color: rgba(#fff, .75);
				border-color: transparent;
				background-color: $color-secondary-darken;
				transition-duration: 0s, 0s, 0s;
			}
		}

		&.in-cart {
			color: #fff;
			border-color: transparent;
			background-color: $color-main-darken;
			text-shadow: $shadow-text, $shadow-text;
		}
	}

	&--theme-main {
		color: #fff;
		fill: #fff;
		background-color: $color-dark-mint;
		transition: background-color $time-now linear;

		&:hover {
			background-color: $color-smoke-mint;
		}

		&:active {
			color: rgba(#fff, .75);
			background-color: $color-smoke-mint;
			transition-duration: 0s;
		}

		&-dark {
			background-color: $color-dark-blue;
		}
	}

	&--to-catalog {
		font-size: 1.6rem !important;
		line-height: 1 !important;

		.button__body {
			display: flex;
			justify-content: center;
			vertical-align: unset;
			align-items: center;
		}
	}

	&--theme-reset {
		color: $color-gray-5;
		fill: $color-gray-5;
		border-color: $color-gray-5;
		transition: background-color $time-now linear;

		&:hover {
			background-color: $color-gray-5;
			border-color: $color-gray-5;
			color: $color-white;
			fill: $color-white;
		}

		&:active {
			color: rgba(#fff, .75);
			background-color: $color-dark-mint;
			transition-duration: 0s;
		}
	}

	&--theme-white {
		color: $color-main;
		fill: $color-main;
		background-color: $color-white;
		transition: background-color $time-now linear;

		&:hover {
			background-color: $color-gray-1;
		}

		&:active {
			color: $color-main-darken;
			fill: $color-main-darken;
			background-color: $color-gray-3;
			transition-duration: 0s;
		}
	}

	&--theme-slide-arrows {
		color: $color-gray-5;
		fill: $color-gray-5;
		background-color: transparent;
		transition: background-color $time-now linear;

		&:hover {
			background-color: $color-main;
			color: $color-white;
			fill: $color-white;
		}

		&:active {
			color: $color-main-darken;
			fill: $color-main-darken;
			background-color: $color-gray-3;
			transition-duration: 0s;
		}
	}

	&--theme-item-action {
		fill: #fff;
		color: $custom-color-additional;
		background-color: $custom-color-additional;
		transition: background-color $time-now linear;

		&.is-active {
			color: $color-secondary-darken;
			background-color: $color-secondary-darken;
			cursor: pointer;

			&:hover {
				color: $color-secondary-darken;
				// background-color: rgba($color-secondary-darken, 0.15);
			}
		}

		&:hover {
			fill: $color-secondary-darken;
			border-color: $color-secondary-darken;
			color: #fff;
			background-color: #fff;
		}

		&:active {
			color: $color-danger-darken !important;
			background-color: $color-danger-darken !important;
			transition-duration: 0s;
		}
	}

	&--theme-empty {
		color: $color-blue-smoke;
		background-color: #fff;
		border: 1px solid $color-yellow;
		max-height: 40px;

		&:hover {
			color: $color-white;
			background-color: $color-yellow;
		}
	}

	&--theme-unavaliable {
		color: $color-black;
		fill: $color-gray-5;
		border-color: $color-gray-5;
		cursor: default;
	}

	&--compare {
		fill: $color-smoke-mint;
		background-color: transparent;
		padding: 2px 3px;

		svg {
			width: rem(30);
			height: rem(30);
		}

		&:hover {
			fill: $color-white;
			background-color: $color-smoke-mint;
		}
	}

	&--reg {
		&:hover {
			color: $color-smoke-yellow;
		}
	}

	// sizes
	&--size-small {
		font-size: rem(12);
		padding: rem(6) rem(16);
		line-height: rem(20);
		min-height: rem(34);

		.button {
			&__icon {
				width: rem(14);
				height: rem(14);

				&--before ~ .button__text {
					margin-left: rem(6);
				}

				&--after ~ .button__text {
					margin-right: rem(36);
				}

				&:only-child {
					margin: 0 rem(-7);
				}
			}
		}
	}

	&--size-collapse-normal {
		text-transform: uppercase;
		font-size: rem(12);
		padding: rem(10) rem(20);
		line-height: rem(20);
		min-height: rem(42);

		@include media($screen-def) {
			padding-left: rem(6);
			padding-right: rem(6);
		}

		.button {
			&__icon {
				width: rem(20);
				height: rem(20);

				&--before ~ .button__text {
					margin-left: rem(10);
				}

				&--after ~ .button__text {
					margin-right: rem(10);
				}

				&:only-child {
					margin: 0 rem(-10);
				}

				@include media($screen-def, max) {
					margin: 0 rem(-10);
				}
			}

			&__text {
				@include media($screen-def, max) {
					display: none;
				}
			}
		}
	}

	&--size-normal {
		font-size: rem(14);
		padding: 0 rem(20);
		line-height: rem(40);
		min-height: rem(40);
		min-width: rem(147);

		.button {
			&__icon {
				width: rem(20);
				height: rem(20);

				&--before ~ .button__text {
					margin-left: rem(10);
				}

				&--after ~ .button__text {
					margin-right: rem(10);
				}

				&:only-child {
					margin: 0 rem(-10);
				}
			}
		}
	}

	&--font-bigger {
		font-size: .95rem;
	}

	&--size-banner {
		font-size: rem(24);
		padding: 15px 23px;
		font-weight: 500;
	}

	&--size-form {
		font-size: rem(24);
		padding: rem(10) rem(52);
		font-weight: normal;
	}

	&--size-сcompare {
		font-size: rem(14);
		padding: 0 rem(20);
		line-height: 1;
		display: flex;
		justify-content: center;
		align-items: center;
		height: rem(40);
		min-width: rem(147);
		border: 2px solid $color-yellow;
		background-color: transparent;
		color: $color-dark-blue;

		&:hover {
			border-color: $color-dark-mint;
			background-color: $color-dark-mint;
			color: $color-white;
		}
	}

	&--size-large {
		font-size: rem(20);
		padding: rem(5) rem(16);
		line-height: rem(46);
		min-height: rem(60);
		white-space: nowrap;

		@include media($screen-def) {
			font-size: rem(24);

			.cart-briefly & {
				font-size: rem(18);
			}
		}

		.button {
			&__icon {
				width: rem(30);
				height: rem(30);

				&--small {
					width: 5px;
					height: 9px;

					&.button__icon--after ~ .button__text {
						margin-right: rem(5);

						@include media($screen-mg) {
							margin-right: rem(12);
						}
					}
				}

				&--before ~ .button__text {
					margin-left: rem(10);
				}

				&--after ~ .button__text {
					margin-right: rem(10);

					@include media($screen-mg) {
						margin-right: rem(27);
					}
				}

				&:only-child {
					margin: 0 rem(-10);
				}
			}
		}
	}

	// width

	&--width-lg {
		min-width: 230px;
	}

	&--width-md {
		max-width: 190px;
	}

	&--width-full {
		display: block;
		width: 100%;
	}

	// types

	&--air {
		padding: 0;
		background-color: rgba($color-white, .001);
		color: $color-dark-blue;
		fill: $color-dark-mint;
		font-size: rem(14);
		font-weight: 600;
		border-radius: 0;
		overflow: visible;
		// text-decoration: underline;

		.button {
			&__icon {
				width: rem(20);
				height: rem(20);
				transition: fill $time-now ease;

				&--before ~ .button__text {
					margin-left: 9px;
				}

				&--after ~ .button__text {
					margin-right: 9px;
				}

				&:only-child {
					margin: 0 rem(-10);
				}
			}
		}

		&:hover {
			text-decoration: none;

			.button {
				&__icon {
					// color: inherit need for compare icon
					color: inherit !important;
					fill: currentColor;
				}
			}
		}

		&.in-cart {
			padding: 8px 18px;
			border-radius: 26px;
			background-color: $color-dark-mint !important;
			color: #fff !important;
			fill: #fff !important;
		}
	}

	&--remove {
		padding: 0;
		background-color: rgba($color-white, .001);
		fill: #ccc;

		.button {
			&__icon {
				width: 20px;
				height: 20px;
				transition: fill $time-now ease;
			}
		}

		&:hover {
			.button {
				&__icon {
					fill: $color-danger;
				}
			}
		}
	}

	&--buy {
		border-radius: 0;
		max-width: 100%;

		@include media($screen-def) {
			max-width: rem(226);
		}

		#{$this}__body {
			display: flex;
			justify-content: center;

			@include media($screen-def) {
				justify-content: space-between;
			}
		}

		.button__icon--after ~ .button__text {
			margin-right: rem(10);
			display: block;

			@include media($screen-md) {
				margin-right: 0;
				display: none;
			}

			@include media($screen-def) {
				margin-right: rem(10);
				display: block;
			}
		}
	}

	&.js-filter-show {
		@include media($screen-sm, max) {
			height: 35px;
			margin: 3px 0 0;
		}
	}

	&--radius-bottom-left {
		border-bottom-left-radius: 12px;
	}
}

.header-mobile-search-button {
	position: relative;
	display: block;
	background-color: $color-white;
	height: 100%;
	width: 100%;

	&__icon {
		position: absolute;
		width: 20px;
		height: 20px;
		top: calc(50% - 10px);
		right: 5px;
	}

	span {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 10px;
	}
}

@keyframes btn-load {
	0% {
		top: 10%;
		height: 80%;
	}

	50%,
	100% {
		top: 30%;
		height: 40%;
	}
}
