.callback-widget {
	$this: &;

	bottom: rem(40);
	position: fixed;
	user-select: none;
	z-index: 10;
	right: rem(15);
	width: rem(60);
	height: rem(60);
	background-color: $color-yellow;
	border-radius: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	font-size: rem(12);

	@include media ($screen-md) {
		right: rem(55);
		width: rem(80);
		height: rem(80);
	}

	@include media($screen-def) {
		bottom: 16%;
	}

	&:hover {
		&::before {
			transform: translate(-50%, -50%) scale(0.9);
			opacity: 1;
		}
	}

	&[aria-expanded="true"] {
		font-size: 0;
		animation: spin 0.3s ease-out;

		#{$this}__icon {
			.svg-icon {
				opacity: 0;
			}

			&::before,
			&::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(45deg);
				width: rem(22);
				height: 3px;
				background-color: $color-white;
				border-radius: 25%;
			}

			&::before {
				transform: translate(-50%, -50%) rotate(-45deg);
			}
		}
	}

	&::before {
		content: '';
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: -1;
		transform: translate(-50%, -50%);
		width: rem(80);
		height: rem(80);
		border-radius: 50%;
		background-color: $color-yellow;
		opacity: 0.5;
		transition: .3s;

		@include media ($screen-md) {
			width: rem(102);
			height: rem(102);
		}
	}

	&__icon {
		width: rem(40);
		height: rem(30);

		.svg-icon {
			width: 100%;
			height: 100%;
		}
	}

	&__title {
		font-weight: 600;
		color: $color-white;
		text-align: center;
		display: none;
		margin-top: 7px;

		@include media ($screen-md) {
			display: block;
		}
	}
}

@keyframes spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(90deg);
	}
}
