.checkout-step {
	display: flex;
	align-items: center;
	position: relative;

	&::after {
		position: absolute;
		content: '';
		bottom: 0;
		right: 0;
		width: 80%;
		height: 1px;
		z-index: 0;
		background-color: $color-stroke;
	}

	&__number {
		position: relative;
		z-index: 1;
		min-width: rem(90);
		height: rem(40);
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		padding: 0 rem(20);
		background-color: $color-dark-blue;
		color: $color-white;
		border-top-left-radius: 12px;
		border-bottom-right-radius: 12px;
		line-height: rem(40);
		font-size: 15px;
		font-weight: 600;
		margin-right: rem(20);

		@include media($screen-xxs) {
			font-size: 16px;
		}

		@include media($screen-xs) {
			font-size: rem(24);
		}
	}
}
