.compare-wrap {

	&__title {
		font-size: rem(22);
		color: $color-dark-blue;
		padding: 10px rem(15);
		background-color: $color-white;

		@include media($screen-def) {
			font-size: rem(36);
		}

		span {
			color: $color-smoke-mint;
		}
	}

	&__mobile {
		background-color: $color-white;
		padding: 5px rem(15) 10px;
	}
}
