.compare-slider {
	&__arrows {
		.slick-slider-arrow--next {
			z-index: 1;
			right: 0;
			transform: translate(25%, -70%);
		}

		.slick-slider-arrow--prev {
			z-index: 1;
			left: 0;
			transform: translate(-25%, -70%);
		}
	}
}
