.compare-popover {
	margin-bottom: rem(25);

	&:last-child {
		margin-bottom: 0;
	}

	&__text {

		a {
			color: $color-dark-blue;
			font-size: rem(18);
			text-decoration: none;
		}
	}

	&__icon {
		cursor: pointer;
		display: block;
		width: 15px;
		height: 15px;

		.svg-icon {
			width: 15px;
			height: 15px;
			fill: $color-stroke;
		}
	}

	&--empty {
		.svg-icon--icon-to-compare {
			width: rem(44);
			height: rem(40);
			fill: $color-secondary;
			color: $color-white;
		}
	}
}
