.contact-cards {
	margin: -5px;

	> .gcell {
		padding: 5px;
	}

	&__item {
		text-align: center;
		width: 100%;
		height: 100%;
		padding: rem(30) rem(15) rem(55);
		border: 2px solid rgba($color-stroke, 0.5);
		border-radius: 10px;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		box-sizing: border-box;
		transition: background-color .3s, border-color .3s;
		background-clip: padding-box;

		&:hover {
			background-color: rgba($color-stroke, 0.5);
			border-color: rgba($color-stroke, 0.5);
		}
	}

	&__item-icon {
		width: 40px;
		height: 40px;

		img,
		svg {
			width: 100%;
			height: 100%;
			display: block;
			object-fit: contain;
		}
	}

	&__item-title {
		cursor: default;
		margin: rem(25) 0;
		font-weight: 700;
		font-size: rem(24);
		line-height: rem(29, 24);
		color: $color-dark-blue;
	}

	&__item-text {
		cursor: default;
		text-decoration: none;
		font-size: rem(16);
		line-height: rem(20, 16);
		color: $color-blue-smoke;

		&--semibold {
			font-weight: 600;
		}

		&--underline {
			cursor: pointer;
			position: relative;

			&::before {
				position: absolute;
				content: '';
				width: 100%;
				height: 1px;
				background-color: rgba($color-dark-blue, 0.5);
				bottom: -4px;
				left: 0;
			}
		}

		&--icon {
			display: flex;
			align-items: center;
			justify-content: flex-start;
		}

		& + & {
			margin-top: rem(15);
		}
	}

	&__text-icon {
		display: block;
		max-width: 5px;
		max-height: 10px;

		&--right {
			margin-left: 5px;
		}

		&--left {
			margin-right: 5px;
		}
	}
}
