.contacts {
	&__text-block {
		columns: auto 1;
		column-gap: rem(25);

		@include media($screen-sm) {
			columns: auto 2;
		}

		@include media($screen-md) {
			columns: auto 3;
		}

		b,
		strong {
			font-weight: 700 !important; //sass-lint:disable-line no-important
		}
	}

	&__tabs {
		padding-bottom: rem(35);

		@include media($screen-md) {
			padding-bottom: 80px;
		}

		&-nav {
			position: relative;
			display: flex;
			flex-wrap: nowrap;
			width: 100%;
			max-width: 100%;
			overflow-x: auto;
			overflow-y: hidden;
			margin-bottom: 20px;

			&::after {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				height: 1px;
				background-color: $color-stroke;
			}

			&-item {
				cursor: pointer;
				position: relative;
				font-weight: 600;
				color: $color-blue-smoke;
				transition: color .3s;
				padding: rem(10) rem(25);
				font-size: rem(17);
				line-height: rem(21, 17);

				@include media($screen-ms) {
					padding: rem(10) rem(35);
					font-size: rem(20);
					line-height: rem(24, 20);
				}

				@include media($screen-def) {
					padding: rem(10) rem(40);
					font-size: rem(24);
					line-height: rem(29, 24);
				}

				&::before {
					content: '';
					position: absolute;
					width: 0;
					bottom: 0;
					left: 0;
					height: 2px;
					background-color: $color-dark-mint;
					transition: width .3s;
				}

				&.is-active {
					color: $color-dark-mint;

					&::before {
						width: 100%;
					}
				}
			}
		}

		&-block {
			display: none;
			position: relative;
			width: 100%;
			padding-top: 100%;

			@include media($screen-ms) {
				padding-top: 56.25%;
			}

			@include media($screen-def) {
				padding-top: 34.81%;
			}

			> iframe {
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
			}

			&.is-active {
				display: block;
			}
		}
	}

	&__form {
		margin-bottom: rem(65);
		padding: rem(35) 0;

		@include media($screen-md) {
			padding: rem(90) 0 rem(65);
		}

		@include media($screen-def) {
			border: 1px solid $color-stroke;
		}
	}
}
