//sass-lint:disable-all

.dots {
	width: 100%;
	height: 1rem;
	background-image: linear-gradient(to right, $color-stroke 30%, rgba(255,255,255,0) 0%);
	background-position: bottom;
	background-size: 7px 2px;
	background-repeat: repeat-x;
}
