.footer-accordion {
	&__body {
		border-bottom: 1px solid $color-gray-3;
	}

	&__title {
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
		cursor: pointer;
		position: relative;
		padding: rem(25) rem(0);
		font-weight: 600;
		color: $color-dark-blue;
		font-size: 16px;
	}

	&__icon {
		position: absolute;
		width: 15px;
		height: 15px;
		top: calc(50% - 7.5px);
		right: 10px;
		fill: $color-dark-blue;
		transition: transform .3s;
		transform: rotate(0deg);
		transform-origin: center;

		.is-opening & {
			transform: rotate(180deg);
		}

		svg {
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
	}

	.nav-links {
		margin: 0 0 rem(25);
	}
}
