.hint {
	position: relative;
	display: block;
	width: 100%;
	margin: 0 0 8px;
	padding: 0;
	color: #000;
	font-size: 12px;
	font-weight: 300;

	strong {
		font-weight: 900;
	}

	&--decore {
		margin: 0;
		font-size: 14px;
		text-align: center;

		&::before {
			content: '';
			position: absolute;
			top: calc(50% - 1px);
			left: 0;
			z-index: 1;
			display: block;
			width: 100%;
			height: 1px;
			background-color: $color-stroke;
		}

		span {
			position: relative;
			z-index: 2;
			display: inline-block;
			vertical-align: top;
			padding: 0 12px;
			background-color: #fff;
			border-radius: 8px;
		}

		&._text-right {
			span {
				padding-right: 0;
			}
		}

		&._text-left {
			span {
				padding-left: 0;
			}
		}
	}

	&--lg {
		font-size: 15px;
	}
}
