.input-quantity {
	$this: &;
	$field-height: rem(40);

	box-sizing: border-box;
	position: relative;
	display: block;
	width: 100%;
	max-width: rem(88);
	user-select: none;

	@include media($screen-xs) {
		max-width: rem(114);
	}

	* { // sass-lint:disable-line no-universal-selectors
		box-sizing: inherit;
	}

	&__field {
		display: block;
		width: 80%;
		height: $field-height;
		padding: 0;
		margin: auto;
		background-color: $color-white;
		border: 1px solid $color-stroke;
		border-radius: 8px;
		color: $color-dark-blue;
		font-size: rem(14);
		font-weight: 300;
		line-height: $field-height;
		text-align: center;
		outline: none;
		transition: border-color $time-fast ease, box-shadow $time-fast ease, color $time-fast ease;
		will-change: border-color, box-shadow;

		@include media($screen-xs) {
			font-size: rem(18);
		}

		&::placeholder {
			color: #b5b9c6;
			font-size: 16px;
			font-weight: 400;
			transition: color $time-fast ease;
			will-change: color;
		}

		&:focus {
			&::placeholder {
				color: #010101;
			}
		}
	}

	&__increase,
	&__decrease {
		display: block;
		width: 22px;
		height: $field-height;
		font-size: 18px;
		font-weight: 400;
		line-height: $field-height;
		text-align: center;
		cursor: pointer;
		position: relative;
		color: $color-gray-10;

		&::before,
		&::after {
			position: absolute;
			content: '';
			top: 50%;
			left: 50%;
			width: rem(20);
			height: 2px;
			background-color: currentColor;
			transform: translate(-50%, -50%);
		}

		&::before {
			transform: translate(-50%, -50%) rotate(90deg);
		}

		&:hover {
			color: $color-dark-blue;
		}

		&:active {
			color: $color-dark-blue;
		}
	}

	&__decrease {
		&::before {
			display: none;
		}
	}
}
