.item-card-controls {
	position: absolute;
	top: rem(10);
	right: 2px;

	&__control {
		cursor: pointer;
		display: flex;
		justify-content: center;
		align-items: center;
		min-width: rem(50);
		height: rem(40);
		fill: $color-dark-blue;
		background-color: rgba($color-white, 0.5);

		&.is-pending,
		&.is-active {
			fill: $color-white;
			background-color: $color-yellow;
		}

		.browserizr-is-not-mobile &:hover {
			fill: $color-white;
			background-color: $color-yellow;
		}

		&:active {
			fill: $color-white;
			background-color: $color-smoke-yellow;
		}

		svg {
			width: rem(30);
			height: rem(25);
		}
	}
}
