////
/// @group _blocks/
////

/// Description
.link {
	outline: none;
	color: $color-blue-smoke;
	line-height: 120%;
	cursor: pointer;
	text-decoration: none;
	transition: color 0.3s;

	&:hover {
		color: $color-yellow;
	}

	&:active {
		color: $color-smoke-yellow;
	}

	&--logo {
		color: $color-main;

		&:hover {
			color: $color-main-lighten;
		}

		&:active {
			color: $color-main-darken;
		}
	}

	&--invert {
		color: $color-gray-5;

		&:hover {
			color: $color-gray-2;
		}

		&:active {
			color: $color-gray-8;
		}
	}

	&--dark {
		color: $color-dark-blue;
	}

	&--custom {
		color: var(--color-main-header-footer);

		&:hover {
			color: var(--color-secondary-header-footer);
		}
	}

	&--main {
		color: $color-main;

		&:hover {
			color: $color-secondary;
		}

		&:active {
			color: $color-secondary-darken;
		}
	}

	&--sm {
		color: $color-secondary;
		font-size: 12px;
		text-decoration: none;
		cursor: pointer;

		&:hover {
			color: $color-main;
			text-decoration: underline;
		}
	}

	&--md {
		font-size: rem(18);
	}

	&--dashed {
		color: $color-main;
		text-decoration: none;
		border-bottom: 1px dashed;
	}

	&--underline {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: rem(-3);
			left: 0;
			width: 100%;
			height: 1px;
			background-color: currentColor;
		}
	}

	&--icon-small {
		margin-right: rem(18);

		.icon {
			position: absolute;
			top: 50%;
			right: rem(-18);
			transform: translateY(-50%);
			fill: currentColor;

			svg {
				width: rem(10);
				height: rem(10);
			}
		}
	}

	&--icon-left {
		position: relative;
		margin-left: rem(18);

		.icon {
			position: absolute;
			top: 65%;
			left: rem(-18);
			transform: translateY(-50%);
			fill: currentColor;

			svg {
				width: rem(10);
				height: rem(18);
			}
		}
	}

	&--cursor {
		&-def {
			cursor: default;
			pointer-events: none;
		}
	}
}
