.menu-button {
	display: block;
	width: 34px;
	height: 34px;
	fill: $color-white;
	color: $color-white;
	position: relative;
	margin: 1px 0;
	cursor: pointer;

	&__icon {
		@include absolute-cube(70%);
	}

	&__availability-indicator {
		box-sizing: border-box;
		line-height: 16px;
		font-size: 9px;
		position: absolute;
		top: -8px;
		right: 2px;
		min-width: 15px;
		height: 15px;
		background: $color-dark-mint;
		border-radius: 7.5px;
		text-align: center;
		color: #fff;
		padding: 0 3px;

		&:empty {
			display: none;
		}
	}

	&__count {
		position: absolute;
		top: 0;
		right: 0;
		font-size: 9px;
		line-height: 12px;
		min-width: 14px;
		padding: 0 3px;
		text-align: center;
		border-radius: 20px;
		background-color: $color-secondary-darken; // #277e53;
		text-shadow: $shadow-text;
		box-sizing: border-box;
		color: $color-white;

		&:empty {
			display: none;
		}
	}
}
