////
/// @group blocks/
////

/// Description
.nav-links {
	padding: 0;
	list-style: none;

	&--columns {
		column-count: 2;
		column-gap: 2rem;
	}

	&__item {
		margin-bottom: rem(0);
	}

	&__link {
		text-decoration: none;
		color: $color-white;
		opacity: 0.5;
		font-size: rem(14);

		&:hover {
			opacity: 1;
			color: $color-yellow;
			text-decoration: underline;
		}

		&:active {
			color: $color-smoke-yellow;
		}

		&--footer {
			opacity: 1;
			color: $color-dark-blue;

			&:hover {
				color: $color-yellow;
				text-decoration: underline;
			}

			&:active {
				color: $color-smoke-yellow;
			}
		}
	}
}
