.payment-methods {
	width: rem(53);
	height: rem(30);
	opacity: 0.75;
	transition: opacity 0.25s ease;

	&--contain {
		img {
			object-fit: contain;
		}
	}

	&--delivery {
		max-width: 36px;
		max-height: 36px;
		padding-right: rem(10);
	}

	img {
		width: 100%;
		height: 100%;
		filter: grayscale(1);
		transition: filter 0.25s ease;
	}

	&:hover {
		opacity: 1;
		transition: opacity 0.25s ease;

		img {
			filter: grayscale(0);
			transition: filter 0.25s ease;
		}
	}

}
