.promo {
	$this: &;

	display: flex;
	height: rem(60);
	width: calc(100% + 1px);
	position: relative;
	top: -1px;

	&--red {
		#{$this}__title {
			color: $color-white;
			background-color: $color-red;
		}

		#{$this}__text {
			color: $color-red;
			background-color: $color-red-candy;
		}
	}

	&__title {
		display: flex;
		align-items: center;
		padding: 0 rem(20);
		font-size: rem(24);
		font-weight: 600;
		border-top-left-radius: 12px;
	}

	&__text {
		width: 100%;
		font-size: rem(14);
		border-top-right-radius: 12px;
		display: flex;
		align-items: center;
		padding: 0 rem(20);

		a {
			color: $color-red;
			text-decoration: none;

			&:hover,
			&:active {
				color: $color-red-hover;
			}
		}
	}
}
