////
/// @group _blocks/
////

/// Description
.scroll-text {
	display: block;
	width: 100%;
	max-width: 788px;
	min-width: 100%;
	flex-basis: 100%;
	position: relative;
	white-space: normal;
	overflow: hidden;
	word-break: break-all;

	&::before,
	&::after {
		content: '';
		position: absolute;
		left: -.5rem;
		right: -.5rem;
		height: 2rem;
		pointer-events: none;
	}

	&.hide-shadow {
		&::after {
			display: none;
		}
	}

	&--article {
		&::before {
			top: 0;
			// box-shadow: inset 0 10px 20px -6px;
		}

		&::after {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			height: 120px;
			background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
		}
	}

	&__content {
		overflow-x: hidden;
		overflow-y: auto;
		box-sizing: border-box;

		@include media($screen-md) {
			padding-right: rem(10);
		}
	}

	&--article &__content {
		max-height: 430px;
		padding: .5rem 1.5rem 1rem 0;
	}

	.ps__rail-y {
		background-color: transparent !important; //sass-lint:disable-line no-important
		z-index: 10;
		width: 5px;

		&:hover,
		&.ps--clicking {
			width: 5px;

			.ps__thumb-y {
				width: 5px;
				background-color: $color-gray-8;
			}
		}

		.ps__thumb-y {
			cursor: pointer;
			width: 5px;
			border-radius: 2.5px;
			background-color: $color-gray-6;
			transition: background-color .3s;
		}
	}
}
