////
/// @group blocks/
////

@import 'settings/defaults';
@import 'settings/functions/em-rem';

/// Description
.select {
	background: $color-white url(/static/pic/icon-arrow-bottom-thin.svg) center right rem(14) no-repeat;
	background-size: 10px;
	display: block;
	width: 100%;
	box-sizing: border-box;
	min-height: rem(40);
	border: 1px solid $color-stroke;
	font-size: rem(14);
	line-height: rem(30);
	padding: rem(5) rem(40) rem(5) rem(16);
	color: $color-blue-smoke;
	border-radius: 10px;
	font-weight: 600;
	outline: none;

	appearance: none !important; // sass-lint:disable-line no-important
	text-indent: 0.01px;
	text-overflow: '';

	&::-ms-expand {
		display: none;
	}

	&--size-normal {
		max-width: rem(245);
	}

	&--size-small {
		min-height: rem(30);
		font-size: rem(13);
		line-height: rem(20);
		padding: rem(5) rem(40) rem(5) rem(16);
	}
}

.select-wrap {
	opacity: 0.35;
	pointer-events: none;

	&.visible {
		opacity: 1;
		pointer-events: all;
	}

	&__name {
		font-weight: bold;
		font-size: 16px;
		margin-bottom: 11px;
	}
}
