.social-icon {
	display: block;
	padding: 5px;
	width: 28px;
	box-sizing: border-box;
	height: 28px;
	border: 2px solid $color-dark-blue;
	border-radius: 50%;
	transition: border-color .3s;

	svg {
		width: 100%;
		height: 100%;
		fill: $color-dark-blue;
		transition: fill .3s;
	}

	&:hover {
		border-color: $color-smoke-yellow;

		svg {
			fill: $color-smoke-yellow;
		}
	}
}
