.subcategories {
	display: none;

	&._async-module-loaded {
		display: block;
	}

	.slick-track {
		display: flex;
	}

	.slick-slide {
		display: flex !important; //sass-lint:disable-line no-important
		height: auto;
	}

	&__inner {
		position: relative;

		&::after {
			opacity: 1;
			pointer-events: none;
			content: '';
			position: absolute;
			right: 0;
			top: 0;
			height: 100%;
			width: 20%;
			transition: opacity .6s;
			background: linear-gradient(90deg, rgba($color-white, 0) 0%, rgba($color-white, 1) 100%);

			@include media($screen-sm) {
				width: 17%;
			}

			@include media($screen-ms) {
				width: 13%;
			}

			@include media($screen-md) {
				width: 10%;
			}
		}

		&.slick-last-slide {
			&::after {
				opacity: 0;
			}
		}
	}

	&__item {
		outline: none;
		text-decoration: none;
		display: flex;
		color: $color-dark-blue;
		border-radius: 10px;
		overflow: hidden;
		padding: 5px;
		border: 1px solid $color-stroke;
		box-sizing: border-box;
		height: 100%;
		min-width: 90px;
		flex-direction: column;
		justify-content: flex-start;

		._async-module-loaded & {
			min-width: unset;
		}

		&-wrapper {
			display: flex;
			height: 100%;
			box-sizing: border-box;
			padding: 0 2px;
		}

		&-image {
			display: block;

			img {
				width: 100%;
				height: auto;
				border-radius: 4px;
			}
		}

		&-title {
			overflow-wrap: anywhere;
			margin: auto 0;
			display: block;
			color: inherit;
			text-align: center;
			padding: 5px 0 0;
			font-size: rem(14);

			@include media($screen-def) {
				font-size: rem(15);
			}
		}
	}
}
