////
/// @group blocks/
////

/// Description
.tabs-blocks {
	display: flex;
	background-color: $color-white;

	&__block {
		padding-top: rem(19);
		padding-bottom: rem(15);
		width: 100%;
		box-sizing: border-box;

		&:not(.is-active) {
			display: none;
		}
	}
}
