////
/// @group blocks/
////

/// Description
.tabs-nav {
	// flex-wrap: wrap;
	max-width: 100%;
	overflow: hidden;
	position: relative;

	&::before {
		position: absolute;
		content: '';
		bottom: 0;
		left: 0;
		height: 1px;
		background-color: $color-stroke;
		width: 100%;
		z-index: 0;
	}

	&::after {
		position: absolute;
		content: '';
		top: 0;
		left: 0;
		height: 1px;
		background-color: $color-stroke;
		width: 100%;
		z-index: 0;

		@include media($screen-ms) {
			display: none;
		}
	}

	&__scroll-container {
		display: flex;
		overflow-x: auto;
		overflow-y: hidden;

		&::-webkit-scrollbar {
			display: none;
		}
	}

	&__button {
		font-size: rem(13);
		line-height: em(18);
		padding: em(14) em(22);
		color: $color-dark-blue;
		font-weight: 600;
		position: relative;
		user-select: none;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		white-space: nowrap;

		&--normal {
			@include media($screen-ms, max) {
				font-size: 1rem;
			}
		}

		@include media($screen-def) {
			font-size: 1rem;
			line-height: em(20);
			padding: em(14) em(23);
		}

		&:not(.is-active) {
			cursor: pointer;

			&:hover {
				color: $color-yellow;
			}
		}

		&.is-active {
			color: $color-dark-mint;
			background-color: $color-white;

			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				height: rem(2);
				background-color: $color-dark-mint;
			}
		}
	}
}
