////
/// @group blocks/
////

/// Description
.text {
	text-decoration: none;
	font-weight: normal;

	&--semi-bold {
		font-weight: 600;
	}

	&--size-10 {
		font-size: rem(10);
	}

	&--size-12 {
		font-size: rem(12);
	}

	&--size-13 {
		font-size: rem(13);
	}

	&--size-14 {
		font-size: rem(14);
	}

	&--size-15 {
		font-size: rem(15);
	}

	&--size-16 {
		font-size: 16px;
	}

	&--size-18 {
		font-size: rem(18);
	}

	@each $name, $color in $_colors-map {
		&--#{$name} {
			color: $color;
		}
	}

	a {
		color: currentColor;

		&:hover {
			color: $color-yellow;
		}
	}

	&--width-200 {
		max-width: 200px;
	}

	&--nowrap {
		white-space: nowrap;
	}
}
