////
/// @group blocks/
////

/// Description
.title {
	color: $color-black;
	font-weight: $font-weight-bold;

	a {
		color: inherit;
		text-decoration: none;

		&:hover {
			text-decoration: underline;
			color: $color-yellow;
		}

		&:active {
			text-decoration: underline;
			color: $color-smoke-yellow;
		}
	}

	&--theme-white {
		color: $color-white;
	}

	&--brand {
		> span {
			color: $color-dark-mint;
		}
	}

	&--theme-half-white {
		color: $color-white;
		opacity: .5;
	}

	&--size-h0 {
		font-weight: $font-weight-bolder;
		font-size: 1.5rem;
		margin: 0.83em 0;

		@include media($screen-xs) {
			font-size: 2rem;
			margin: 0.67em 0;
		}

		@include media($screen-md) {
			font-size: 3rem;
			margin: 0.5em 0;
		}
	}

	&--size-h1 {
		font-weight: $font-weight-bold;
		font-size: 1.15rem;
		margin: 1em 0;

		@include media($screen-xs) {
			font-size: 1.8rem;
			margin: 0.83em 0;
		}

		@include media($screen-md) {
			font-size: 2.25rem;
			margin: 0.67em 0;
		}

		&.title--product-title {
			font-size: 1.6rem;
		}
	}

	&--size-h1-border {
		border-bottom: 1px solid $color-stroke;
		padding-bottom: 10px;
	}

	&--font-normal {
		font-weight: normal;
	}

	&--size-h2 {
		font-weight: $font-weight-bold;
		font-size: 1.1rem;
		margin: 1.33em 0;

		@include media($screen-xs) {
			font-size: 1.5rem;
			margin: 1em 0;
		}

		@include media($screen-md) {
			font-size: 1.875rem;
			margin: 0.83em 0;
		}

		&.title--product-title {
			font-size: 1.3rem;
		}
	}

	&--size-h3 {
		font-size: rem(24);
		margin: 1.33em 0;

		@include media($screen-md) {
			font-size: rem(28);
			margin: 1em 0;
		}
	}

	&--size-h4 {
		font-size: 14px;

		@include media($screen-xxs) {
			font-size: 16px;
		}

		@include media($screen-sm) {
			font-size: rem(20);
		}

		@include media($screen-md) {
			font-size: rem(24);
		}
	}

	&--size-h5 {
		font-size: 0.83rem;
		margin: 1.67em 0;
	}

	&--size-h6 {
		font-size: 0.67rem;
		margin: 2.33em 0;
	}

	&--size-normal {
		font-size: rem(18);

		&-mobile {
			font-size: 18px;
		}
	}

	&:first-child {
		margin-top: 0;
	}

	&:last-child {
		margin-bottom: 0;
	}

	&--normal {
		font-weight: normal;
	}

	&--bold {
		font-weight: 800;
	}

	&--bolder {
		font-weight: 900;
	}

	&--back {
		display: flex;
		justify-content: flex-start;
		align-items: center;
		text-decoration: none;
		position: relative;

		& .title__icon {
			display: block;
			width: 15px;
			height: 15px;
			margin-right: 5px;
			fill: $color-dark-blue;

			@include media($screen-sm) {
				width: 25px;
				height: 25px;
			}
		}
	}
}
