//sass-lint:disable-all
.template {
	display: none;
}

.tooltip {
	padding: rem(10);
	background-color: #fff;

	&__item {
		font-size: rem(16);
		display: flex;
		align-items: center;
		margin-bottom: rem(14);
	}

	&__icon {
		width: rem(34);
		height: rem(34);
		margin-right: rem(15);

		.svg-icon {
			width: 100%;
			height: 100%;
		}
	}
}

.tippy-box {
	background-color: #fff !important;
	box-shadow: 0px 10px 80px rgba(0, 52, 41, 0.3) !important;
	border-radius: 15px !important;
}

.tippy-arrow {
	color: #fff !important;
}

.tippy-svg-arrow {
	fill: #fff !important;
}
