.youtube-block {
	$this: &;

	&__header {
		display: flex;
		width: 100%;
		justify-content: space-between;
		flex-direction: column;
		margin-bottom: rem(16);
		flex-wrap: wrap;

		@include media($screen-ms) {
			align-items: safe center;
			flex-direction: row;
		}
	}

	&__title {
		display: flex;
		align-items: safe center;
		font-size: rem(20);
		line-height: em(24, 20);
		font-weight: 500;
		color: $color-dark-blue;
		margin-bottom: rem(16);

		@include media($screen-ms) {
			margin-bottom: 0;
		}

		#{$this}__icon {
			margin-right: rem(10);
			fill: $color-dark-mint;
		}

		a {
			color: $color-dark-mint;
			text-decoration: none;
			transition: color $time-normal ease;

			&:hover {
				color: $color-smoke-mint;
			}

			&:active,
			&:focus {
				color: $color-smoke-mint;
			}
		}
	}

	&__content {
		background-color: #4d4b4b;
		display: flex;
		flex-wrap: wrap;
	}
}
