.youtube-subscribe {
	$this: &;
	display: flex;
	text-decoration: none;
	height: rem(24);

	&__title {
		color: $color-white;
		background-color: $network-color-youtube;
		display: flex;
		align-items: safe center;
		padding: 0 rem(8);
		border-radius: 2px 0 0 2px;
		font-size: 11px;
		line-height: em(24, 11);

		#{$this}__icon {
			fill: $color-white;
			margin-right: rem(5);
		}
	}

	&__count {
		font-size: rem(11);
		line-height: em(24, 11);
		color: #737373;
		padding: 0 rem(8);
		border: 1px solid #a6a5a5;
		border-left: none;
		border-radius: 0 2px 2px 0;
	}
}
