.youtube-card {
	padding: rem(16);
	width: 100%;
	box-sizing: border-box;

	@include media($screen-ms) {
		width: 50%;
	}

	@include media($screen-def) {
		width: 25%;
	}

	&__thumbnail {
		position: relative;
		padding-bottom: 56.25%;
		margin-bottom: rem(8);
		overflow: hidden;
	}

	&__frame {
		position: absolute;
		left: 0;
		right: 0;
		width: 100%;
		height: 100%;
	}

	&__image {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;

		img {
			object-fit: cover;
			width: 100%;
		}
	}

	&__button {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
		padding: 0;
		background-color: transparent;
		display: flex;
		align-items: safe center;
		justify-content: center;
		border: none;
		cursor: pointer;

		svg {
			fill: $color-white;
		}
	}

	&__duration {
		position: absolute;
		right: 8px;
		bottom: 8px;
		padding: 0 rem(4);
		background-color: #221f1f;
		color: $color-white;
		line-height: 16px;
		font-size: 10px;
	}

	&__title {
		font-size: rem(14);
		margin-bottom: rem(8);
		color: $color-white;
	}

	&__date {
		font-size: rem(12);
		color: #d2d2d2;
	}
}
