// sass-lint:disable-all

.cart-item {
	$this: &;

	box-sizing: border-box;
	position: relative;
	display: block;
	padding: rem(10) 0;
	border-bottom: 1px solid #EDEDED;

	* { // sass-lint:disable-line no-universal-selectors
		box-sizing: inherit;
	}

	&:first-child {
		border-top: 1px solid #EDEDED;
	}

	&:last-child {
		border-bottom: none;
	}

	&__image {
		position: relative;
		z-index: 6;
		display: flex;
		align-items: center;
		justify-content: center;
		width: rem(95);
		height: rem(80);
		margin: 0 7px;
		border-radius: 5px;
		text-decoration: none;

		@include media($screen-xs) {
			width: rem(114);
			height: rem(114);
			margin: 0 18px;
		}

		@include media($screen-md) {
			margin: 0 auto;
		}

		img {
			display: block;
			width: 100%;
			height: 91%;
			object-fit: contain;
			object-position: center;
			transition: transform $time-fast ease;
			will-change: transform;
		}

		&:hover {
			text-decoration: none;
			box-shadow: 0 0 0 2px $color-dark-mint;
		}
	}

	&__name {
		color: $color-blue-smoke;
		line-height: rem(18);
		text-decoration: none;
		font-size: rem(18);

		@include media($screen-xs, max) {
			font-size: rem(14);
		}

		&[href] {
			&:hover {
				color: $color-dark-blue;
			}
		}
	}

	&__unit-price {
		font-size: rem(16);
		color: $color-blue-smoke;
		display: flex;

		span {
			display: block;
			margin: 0;
			margin-left: 5px;
			font-weight: 700;
			white-space: nowrap;
			color: $color-dark-blue;

			@include media($screen-md) {
				min-width: 150px;
			}
		}
	}

	&__unit-quantity {
		display: inline-block;
	}

	&__unit-price-total {
		display: block;
		margin: 0;
		color: $color-dark-blue;
		font-size: rem(24);
		font-weight: bold;
		white-space: nowrap;
		padding-top: 6px;

		@include media($screen-md) {
			min-width: 150px;
			text-align: right;
		}
	}

	&__optional {
		margin-top: rem(7);
		border-radius: 4px;
		min-height: rem(20);
		background-color: $color-stroke;
		padding: rem(6) rem(10);
		font-size: rem(12);
		color: $color-blue-smoke;
		max-width: 400px;
		overflow: hidden;
		text-overflow: ellipsis;
		line-height: 1.5;

		& + & {
			margin-top: rem(2);
		}
	}

	&__options {
		display: flex;
		align-items: center;
		height: 100%;

		.dropdown {
			$block: '.dropdown';

			position: static;

			#{$block} {
				&__head {
					padding: 0;

					@include media($screen-md) {
						padding: 0 6px;
					}
				}

				&__head-svg {
					width: rem(15);
					height: rem(15);
					opacity: 0.5;
					fill: $color-blue-smoke;
					transition: transform 0s ease, opacity $time-normal;
				}
			}

			&:hover {
				#{$block} {
					&__head {
						box-shadow: none;
					}

					&__head-svg {
						transition: transform $time-normal ease, opacity $time-normal;
						transform: rotate(-180deg);
						opacity: 1;
					}
				}
			}

			&--to-left {
				#{$block} {
					&__body {
						top: rem(8);
						left: rem(-4);
						right: rem(-4);
						bottom: rem(8);
						width: auto;

						@include media($screen-md) {
							top: rem(14);
							left: rem(-14);
							right: rem(-14);
							bottom: rem(14);
						}
					}
				}
			}

			&--to-right {
				#{$block} {
					&__body {
						top: 2px;
						z-index: 10;
						left: rem(-4);
						right: rem(-4);
						bottom: rem(8);
						width: auto;
						height: 95%;
						box-shadow: 0 3px 11px rgba(0, 52, 41, 0.3);

						@include media($screen-xs) {
							z-index: 3;
						}

						@include media($screen-md) {
							top: 3px;
							left: rem(-14);
							right: rem(-14);
							bottom: rem(14);
						}
					}
				}
			}

			&--to-left {
				#{$block} {
					&__body {
						padding: rem(225) rem(60) rem(25) rem(30);

						@include media($screen-sm) {
							padding: rem(26) rem(210) rem(25) rem(30);
						}
					}
				}
			}

			&--to-right {
				#{$block} {
					&__body {
						padding: 4px rem(14) 0 rem(14);

						@include media($screen-xs) {
							padding: rem(14) rem(14) rem(14) rem(150);
						}

						@include media($screen-md) {
							padding: rem(20) rem(30) rem(20) rem(210);
						}
					}
				}
			}
		}
	}

	&__sure-delete {
		position: absolute;
		right: 0;
		top: 0;
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		z-index: 1;
		background-color: $color-white;;
		border: 1px solid $color-dark-blue;
		border-radius: 12px;
		transform: scaleX(0);
		transform-origin: center;
		transition: transform 0.15s ease;

		@media(min-width: 481px) and (max-width: 600px) {
			width: 71%;
		}

		@include media(601px) {
			width: 77%;
		}

		&.open {
			transform: scaleX(1);
			transition: transform 0.2s ease;
		}
	}

	&__sure-delete-text {
		width: 100%;
		font-size: 13px;
		line-height: 1.1;
		text-align: center;
		margin-bottom: -12px;
		color: $color-dark-blue;
		padding: 0 10px;

		@include media($screen-sm) {
			font-size: rem(18);
			margin-bottom: rem(-30);
		}

		span {
			display: block;
			margin: 0 auto;
			white-space: initial;

			@media(min-width: 481px) and (max-width: 600px) {
				max-width: 300px;
			}
		}
	}

	&__yes,
	&__no {
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: rem(16);
		color: $color-white;
		width: 74px;
		height: 25px;
		margin: 0 rem(15);
		cursor: pointer;
		border-radius: 5px;

		@include media($screen-sm) {
			width: 80px;
			height: 30px;
		}
	}

	&__yes {
		background-color: $color-dark-mint;

		&:hover {
			background-color: $color-yellow;
		}
	}

	&__no {
		background-color: $color-yellow;

		&:hover {
			background-color: $color-dark-mint;
		}
	}

	&__action {
		display: block;
		max-width: 130px;
		margin: 0 auto;
		color: $color-blue-smoke;
		font-size: 11px;
		font-weight: 400;
		text-align: center;
		text-decoration: none;
		cursor: pointer;

		@include media($screen-md) {
			font-size: rem(14);
		}

		.svg-icon {
			display: block;
			margin: 0 auto 12px;
			width: 26px;
			height: 26px;
		}

		&-text {
			display: block;
			min-height: 32px;
			white-space: normal;
		}

		&:hover {
			color: $color-secondary;
			text-decoration: none;
		}

		&--delete {
			.svg-icon {
				fill: $color-secondary-darken;
			}

			&:hover {
				color: $color-dark-mint;
			}
		}

		&--move-to-wish-list {
			.svg-icon {
				fill: $color-secondary;
			}

			&:hover {
				color: $color-main;
			}
		}

		&--cancel {
			.svg-icon {
				fill: $color-secondary;
			}

			&:hover {
				color: $color-main;

				.svg-icon {
					fill: $color-main;
				}
			}
		}
	}
}
