.action-bar {
	$this: &;
	position: relative;
	min-height: rem(60);

	&__wrapper {
		position: relative;
		display: flex;
		width: 100%;
		min-height: rem(60);
	}

	&--shadow {
		box-shadow: $shadow-text-light;
		border-top: 2px solid $color-gray-1;
	}

	&__side {
		flex-shrink: 0;
		width: rem(370);
	}

	&__wide {
		position: relative;
		flex-grow: 1;

		&-mobile {
			height: 100%;
		}
	}

	&__control {
		position: relative;
		width: 100%;
		border: 2px solid $color-smoke-yellow;

		@include media($screen-def) {
			width: rem(86);
		}

		&--wishlist {
			@include media($screen-sm, max) {
				border-radius: 0 0 7px;
			}
		}

		&--small {
			width: rem(42);
		}

		&--buy-one-click {
			border-bottom-right-radius: 12px;

			@include media($screen-def) {
				width: rem(167);
			}

			.action-bar-control {
				padding: 0 rem(20);
				padding-left: rem(20);
				border-bottom-right-radius: 10px;

				@include media($screen-def) {
					padding-left: 0;
				}
			}
		}

		& + & {
			border-left-width: 0;
		}

		&--cart {
			border-top-right-radius: 18px;
		}

		.browserizr-is-not-mobile & {
			&:hover {
				background-color: $color-yellow;
				border-color: $color-yellow;

				.action-bar-control__icon {
					fill: $color-white;
				}

				.action-bar-control__count {
					background-color: $color-white;
				}

				&.action-bar__control--cart {
					background-color: $color-dark-mint;
					border-color: $color-dark-mint;
				}
			}
		}

		.browserizr-is-not-mobile &:hover {
			.popover {
				visibility: visible;
				opacity: 1;
				transform: translateY(0) translateZ(0);
				transition-delay: .4s;
			}
		}

		&.is-open {
			.popover {
				visibility: visible;
				opacity: 1;
				transform: translateY(0) translateZ(0);
				transition-delay: .4s;
			}
		}
	}

	&.scrolled-out {
		#{$this}__wrapper {
			min-height: rem(42);
			box-shadow: 0 10px 10px rgba($color-gray-1, .85);
		}

		#{$this}__control {
			display: none;

			&--cart {
				border-left-width: 2px;
				display: initial;
				margin-left: 0;
			}
		}

		.action-bar-control {
			&__title {
				display: none;
			}
		}

		.action-bar-inner-menu {
			top: rem(42);
		}
	}
}
