.action-bar-control {
	$this: &;

	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: rem(8) 2px;
	// background-color: $color-main;
	color: $color-dark-blue;
	fill: currentColor;
	font-size: rem(12);
	line-height: 1;
	font-weight: $font-weight-lighter;
	cursor: pointer;
	position: relative;
	box-sizing: border-box;
	outline: none;
	text-decoration: none;


	.action-bar__control--cart & {
		border-top-right-radius: 15px;
	}

	&__icon {
		width: rem(30);
		max-height: rem(30);
		flex-shrink: 0;
	}

	&__title {
		text-decoration: none;
	}

	&__text {
		font-size: 0;

		@include media($screen-xs) {
			margin-left: rem(13);
			font-size: rem(14);
			font-weight: 600;
		}

		@include media($screen-md) {
			font-size: 0;
		}

		@include media($screen-def) {
			margin-left: rem(13);
			font-size: rem(14);
			font-weight: 600;
		}
	}

	&__count {
		position: absolute;
		top: rem(4);
		right: rem(8);
		color: $color-dark-blue;
		background-color: $color-yellow;
		height: rem(20);
		min-width: rem(30);
		padding: 0 rem(6);
		font-size: rem(12);
		line-height: rem(20);
		text-align: center;
		border-radius: 18px;
		font-weight: bold;
		box-sizing: border-box;

		&:empty {
			display: none;
		}
	}

	.browserizr-is-not-mobile &:not(.action-bar-control--cart) {
		&:hover {
			color: $color-white;
			background-color: $color-yellow;

			#{$this}__count {
				background-color: $color-white;
			}

			.action-bar__control--cart & {
				background-color: $color-dark-mint;
			}
		}
	}

	&.is-open,
	&.is-active,
	&.is-current {
		color: $color-white;
		background-color: $color-yellow;

		#{$this}__count {
			background-color: $color-white;
		}

		.action-bar__control--cart & {
			background-color: $color-dark-mint;
		}
	}

	&.is-open {
		& ~ .popover {
			visibility: visible;
			opacity: 1;
			transform: translateY(0) translateZ(0);
			transition-delay: .4s;
		}
	}

	&.is-current {
		cursor: default;
	}

	&--cart {
		&.has-content {
			& ~ .popover {
				width: rem(290);
				right: -2px;
			}
		}
	}

	&--wishlist {
		& ~ .popover {
			width: rem(336);
		}
	}

	// &--compare {}
}
