.breadcrumbs {
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;

	&__item {
		display: block;

		&:not(:nth-last-child(2)) {
			display: none;

			@include media($screen-def + 1) {
				display: block;
			}
		}

		&--last {
			flex: 1 1 0%;
			overflow: hidden;
		}
	}

	&__link {
		$breadcrumbs-last-color: #a3a3a3 !default;
		$breadcrumbs-link-color: #8a8a8a !default;
		$breadcrumbs-link-color-hover: $color-main !default;
		$breadcrumbs-link-color-active: $color-main-darken !default;
		font-size: rem(12);
		font-weight: $font-weight-lighter;
		line-height: 16px;
		position: relative;
		display: inline-block;
		vertical-align: top;
		white-space: nowrap;

		&--link {
			display: block;
			color: rgba($color: $color-dark-blue, $alpha: 0.5);
			text-decoration: none;

			@include media($screen-def + 1) {
				margin-left: 0;
				margin-right: rem(32);

				&::after {
					content: '';
					width: rem(12);
					height: 1px;
					position: absolute;
					top: 50%;
					left: rem(-16);
					pointer-events: none;
					background-color: rgba($color: $color-dark-blue, $alpha: 0.5);

					@include media($screen-def + 1) {
						left: auto;
						right: rem(-21);
					}
				}
			}

			&:hover {
				color: $color-yellow;
				text-decoration: underline;
			}

			&:active {
				color: $color-smoke-yellow;
			}
		}

		&--last {
			max-width: 100%;
			color: rgba($color: $color-dark-blue, $alpha: 0.5);
			overflow: hidden;
			text-overflow: ellipsis;
		}
	}
}
