.stars-block {
	outline: none;

	&--small {
		width: rem(55);
	}

	&--normal {
		width: rem(100);
	}

	&--compare-card {
		width: 100%;

		@include media($screen-xs) {
			width: rem(100);
		}
	}

	&__inner {
		position: relative;
		display: block;
		padding-top: 16%;
		outline: none;
	}

	&__svg {
		position: absolute;
		top: 0;
		left: -6px;
		width: calc(100% + 34px);
		height: 100%;
		fill: rgba($color: $color-yellow, $alpha: 0.5);

		.stars-block--normal & {
			left: -25px;
		}

		.stars-block--compare-card & {
			left: -25px;
		}

		@for $i from 1 through 5 {
			&[data-count="#{$i}"] {
				g:nth-child(-n+#{$i}) use { // sass-lint:disable-line force-element-nesting
					fill: $color-yellow;
				}
			}
		}
	}
}

.stars-block-set {
	display: inline-block;
	vertical-align: top;
	user-select: none;
	font-size: 0;

	&__input {
		width: 45px;
		height: 40px;
		opacity: 0;
		position: relative;
		z-index: 10;
		float: right;
		cursor: pointer;
		padding-left: 5px;
	}

	&__svg-holder {
		float: right;
		width: 40px;
		height: 40px;
		position: relative;
		margin-right: -40px;

		.stars-block-set__input:hover ~ & .stars-block-set__svg {
			fill: $color-secondary-lighten;
		}

		.stars-block-set__input:checked ~ & .stars-block-set__svg {
			fill: $color-secondary;
		}
	}

	&__svg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		max-width: 100%;
		max-height: 100%;
		margin: auto;
		fill: $color-gray-2;
	}
}
