.order-product {
	$this: &;

	position: relative;
	display: block;
	margin: 10px 0;
	padding: 10px 0;
	border-bottom: 1px solid #f2f2f2;

	&:last-child {
		border-bottom: none;
	}

	@include media($screen-md) {
		margin: 0;
		padding: 0;
		border-bottom: none;
	}

	&__spacer {
		padding-left: rem(90);
	}

	&__cell {
		&:nth-child(1) {
			flex-basis: 6.875rem;
			max-width: 6.875rem;
		}

		&:nth-child(2) {
			flex-basis: calc(100% - 6.875rem);
			max-width: calc(100% - 6.875rem);

			@include media($screen-ms) {
				flex-basis: auto;
				max-width: none;
			}
		}
	}

	&__price {
		white-space: nowrap;
	}

	&__link {
		text-decoration: none;

		&:hover {
			text-decoration: none;
		}
	}

	&__preview {
		display: flex;
		justify-content: center;
	}

	&__image {
		display: block;
		width: auto;
		max-width: 42px;
		height: 40px;
		object-fit: contain;
		object-position: center;
	}

	&__name {
		color: $color-blue-smoke;
		word-wrap: break-word;
		font-size: rem(18);
		font-weight: normal;
		transition: color $time-fast ease;

		&:hover {
			color: $color-dark-blue;
		}
	}

	&__qty {
		display: block;
		width: 130px;
		margin: 0 0 0 auto;
		color: $color-blue-smoke;
		font-size: rem(18);
		font-weight: 400;
		line-height: 1;
		text-align: center;
		white-space: nowrap;

		strong {
			color: $color-dark-blue;
			font-weight: bold;
		}
	}

	&__cost {
		display: block;
		width: rem(140);
		margin: 0 0 0 auto;
		color: #adb5bd;
		font-size: rem(16);
		text-align: right;
		white-space: nowrap;
	}

	&__label {
		display: inline-block;
		vertical-align: top;
		padding: rem(5) rem(8);
		background-color: #efefef;
		font-size: 12px;
		line-height: em(16, 12);
		color: $color-black;
		box-shadow: 0 0 0 1px $color-secondary;
	}

	&--checkout {
		margin: 0;
		padding: 8px 0;

		@include media($screen-md) {
			margin: 0;
			padding: 8px 0;
		}

		#{$this} {
			&__image {
				max-width: rem(90);
				height: rem(90);
				border-radius: 5px;

				&:hover {
					box-shadow: 0 0 0 1px $color-dark-mint;
				}
			}

			&__qty {
				padding: rem(12) rem(16);

				@include media($screen-ms) {
					padding: rem(12) rem(16);
				}
			}
		}
	}
}
