.item-slider {
	position: relative;
	overflow: hidden;

	@include media ($screen-def) {
		overflow: visible;
	}

	&:hover {
		z-index: 5;
	}

	&__list {
		overflow: hidden;

		@include media($screen-sm, max) {
			padding: 0 2px 1px 1px;
		}

		@media(max-width: 320px) {
			padding: 0 2px 2px;
		}

		.slick-track {
			.slick-slide {
				.item-card {
					@include media($screen-sm, max) {
						margin: 0 0 -1px;
						border-left-color: transparent;
					}
				}
			}

			.slick-slide:first-child {
				.item-card {
					@include media($screen-sm, max) {
						border-left-color: #DDE8F0;
					}
				}
			}
		}

		&:not(.is-ready) {
			display: flex;

			.item-card {
				max-width: 300px;
				flex-basis: 300px;

				&:nth-child(n+6) {
					display: none !important; // sass-lint:disable-line no-important
				}

				@include media($screen-md, max) {
					&:nth-child(n+4) {
						display: none !important; // sass-lint:disable-line no-important
					}
				}

				@include media($screen-lg, max) {
					&:nth-child(n+4) {
						display: none !important; // sass-lint:disable-line no-important
					}
				}
			}
		}

		&:not(.slick-dotted) {
			.slick-list {
				overflow: visible;
			}
		}
	}

	&__arrows {
		@include absolute-cube(100%);
		visibility: hidden;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.slick-track {
		display: flex;

		&::before,
		&::after {
			display: none;
		}
	}

	.slick-slide {
		float: none;
		height: auto;

		&[aria-hidden="true"] {
			pointer-events: none;
		}

		> div {
			position: relative;
			height: 100%;
		}
	}
}
