.item-card-preview {
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	position: absolute;
	outline: none;

	&__cell {
		@include absolute-cube(100%);

		&:hover {
			&::after {
				@include absolute-cube(100%);
				content: '';
				background-color: $custom-color-image-hover;
			}
		}
	}

	&__image {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		left: 0;
		object-fit: contain;
	}
}
