.grid {
	display: flex;
	margin: 0;
	padding: 0;
}

.grid--2 > * {
	flex-basis:50%;
	width:50%;
	max-width:50%;
}

.grid--3 > * {
	flex-basis:33.33333%;
	width:33.33333%;
	max-width:33.33333%;
}

.grid--4 > * {
	flex-basis: 25%;
	width: 25%;
	max-width: 25%;
}

.mce-content-body .gcell {
	outline: 1px dotted #ccc;
}
