.goto {
	display: inline-block;
	vertical-align: top;
	position: relative;
	color: $color-dark-blue;
	text-decoration: none;
	font-size: rem(14);
	line-height: 1;
	font-weight: 600;

	span {
		&:first-child {
			padding-bottom: 4px;
			border-bottom: 1px solid $color-blue-smoke;
		}
	}

	&__icon {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: rem(11);
		height: rem(10);

		svg {
			@include absolute-cube(100%);
			fill: $color-dark-blue;
			transition: transform $time-now linear;
			will-change: transform;
			stroke-width: 2px;
			stroke: $color-dark-blue;
		}
	}

	&:hover {

		span:first-child {
			border-bottom: none;
		}
	}

	&--prev {
		padding-left: rem(50);

		.goto__icon {
			left: 0;
		}

		&:hover {
			.goto__icon {
				svg {
					transform: translateX(-3px);
				}
			}
		}
	}

	&--next {
		padding-right: rem(16);

		&:hover {
			.goto__icon {
				svg {
					transform: translateX(3px);
				}
			}
		}

		.goto__icon {
			right: 0;
		}
	}
}
