.brands-banner {
	display: block;
	text-decoration: none;
	width: 100%;
	position: relative;
	padding-top: 26.31%;
	border-radius: 10px;
	overflow: hidden;

	img {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: contain;
		user-select: none;
		-webkit-user-drag: none;
	}

	&__content {
		box-sizing: border-box;
		font-size: 0;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		color: $color-white;
	}

	&__text {
		font-size: 2.711867vw; // for propotional scaling: 2.711867vw on 1475px width = 40px
		overflow-x: hidden;
		overflow-y: auto;
		text-align: center;
		font-weight: 800;
		color: $color-dark-blue;
		@include media(1475px) {
			font-size: 40px;
		}
	}

	&__link {
		font-size: rem(16);
		display: inline-block;
		color: $color-white;
		text-decoration: none;
	}
}
