.item-badge {
	display: flex;
	align-items: center;
	padding: rem(5) rem(22) rem(5) 0;
	min-width: rem(90);
	max-width: 100%;
	box-sizing: border-box;
	position: relative;
	margin-bottom: rem(2);
	background-color: currentColor;
	border-top-left-radius: 10px;
	border-bottom-right-radius: rem(17);

	&::after,
	&::before {
		position: absolute;
		left: 100%;
		height: 50%;
		width: 0.4rem;
		content: '';
	}

	.tabs-blocks__block & {
		min-width: rem(80);
		min-height: rem(35);
		margin-bottom: rem(4);
		border-top-left-radius: 20px;
		border-bottom-right-radius: 20px;

		@include media($screen-md) {
			min-width: rem(110);
			min-height: rem(40);
		}
	}

	// &::after {
	// 	top: 0;
	// 	background: linear-gradient(to bottom right, currentColor 45%, transparent 55%);
	// }

	// &::before {
	// 	bottom: 0;
	// 	background: linear-gradient(to bottom left, transparent 45%, currentColor 55%);
	// }

	&__text {
		width: 100%;
		text-transform: lowercase;
		font-size: rem(15);
		text-align: center;
		font-weight: 600;
		max-width: 100%;
		white-space: nowrap;
		overflow: hidden;
		color: $color-white;
		padding-right: 2px;

		@include media($screen-md) {
			font-size: rem(18);
		}
	}
}
