////
/// @group blocks/
////

/// Description
.mail-link {
	display: inline-block;
	vertical-align: top;
	color: var(--color-main-header-footer);
	text-decoration: none;
	font-size: rem(16);
	font-weight: 900;

	&:hover {
		color: var(--color-secondary-header-footer);
	}

	&:active {
		color: $color-main-darken;
	}
}
