.action-bar-holder {
	@extend %action-bar-slide;
	position: relative;
	background-color: #444;
	margin-left: -$gutter-sm;
	margin-right: -$gutter-sm;

	@include media($screen-xs) {
		margin-left: -$gutter-md;
		margin-right: -$gutter-md;
	}

	.browserizr-is-desktop & {
		@include media(1024px) {
			margin: 0;
		}
	}

	.browserizr-is-mobile & {
		@include media($screen-xxl) {
			margin: 0;
		}
	}
}

.action-bar-slider {
	@include absolute-cube(100%);

	&__nav {
		position: absolute;
		bottom: 30px;
		left: 1rem;
		right: 1rem;
		visibility: hidden;
		color: $color-white;

		@include media($screen-def, max) {
			bottom: 0;
			pointer-events: none;
		}

		@include media($screen-md, max) {
			bottom: -8px;
		}

		.slick-slider-arrow {
			filter: drop-shadow(0 0 1px $color-main);

			&:hover {
				background-color: $color-secondary;
			}
		}
	}

	&__dots {
		display: none;

		@include media($screen-def) {
			display: block;
			padding-left: rem(60);
		}

		.slick-dots {
			display: flex;
			flex-wrap: wrap;
			list-style: none;
			justify-content: center;
			margin: rem(-40) 0 0;
			padding: 0;

			@include media($screen-def) {
				margin: rem(18) 0 0;
			}

			li {
				display: block;
				font-size: 0;
				line-height: 0;
				margin: 0 8px 8px;
				visibility: visible;
			}

			button {
				padding: 0;
				margin: 0;
				background: rgba($color-white, 0.3);
				border-width: 0;
				width: rem(15);
				height: rem(15);
				border-radius: 50%;
				transition: $time-fast linear;
				position: relative;
				pointer-events: all;
				outline: none;
				cursor: pointer;

				&:hover {
					box-shadow: inset 0 0 0 1px $color-white, inset 0 0 0 2px $color-yellow;
				}
			}

			.slick-active {
				cursor: default;

				button {
					background-color: $color-yellow;
				}
			}
		}
	}
}
